.button-group {
  align-items: center;
  border: 2px solid var(--blue-500);
  border-radius: var(--border-radius-controls);
  display: flex;
  height: 2rem;

  .button {
    align-items: center;
    border: 2px solid var(--white);
    border-radius: var(--border-radius-controls);
    display: flex;
    height: 28px;
    margin: 0;
    padding: 0 .75rem;

    &.blank {
      color: var(--gray-300);
    }
  }
}
