.container {
  &.xsm {
    max-width: 400px;
  }

  &.sm {
    max-width: 560px;
  }

  &.md {
    max-width: 780px;
  }

  &.lg {
    max-width: 1260px;
  }

  *.xl {
    max-width: 106rem;
  }

  &.centered {
    margin: 0 auto;
  }
}
