.date-picker {
  display: flex;
  height: 2rem;
  position: relative;
  width: 170px;

  .icon {
    align-items: center;
    color: var(--gray-200);
    display: flex;
    font-size: var(--font-size-body-lg);
    height: 30px;
    justify-content: center;
    position: absolute;
    right: .75rem;
    top: 0;
  }

  .input {
    height: 30px;
    margin: 0;
    padding-right: 2.5rem;
  }
}
