.date-picker {
  display: flex;
  height: 2rem;
  position: relative;
  width: 100%;

  .icon {
    align-items: center;
    color: var(--gray-200);
    display: flex;
    font-size: var(--font-size-body-lg);
    height: 30px;
    justify-content: center;
    position: absolute;
    right: .75rem;
    top: 0;
  }

  .input {
    height: 30px;
    margin: 0;
    padding-right: 2.5rem;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
      z-index: 1;
    }

    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-year-field {
      border-radius: var(--border-radius-sm);
      color: var(--gray-blue-800);
      filter: grayscale(1); // Safari makes this blue for some reason and I can't get rid of it 

      &:focus {
        background: var(--gray-150);
      }
    }

    &::-webkit-datetime-edit-text {
      color: var(--gray-500);
    }

    &:disabled {
      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-year-field {
        color: var(--gray-500);
      }
    }
  }
}
