.drawer {
  margin-bottom: 2rem;

  .drawer-title {
    align-items: center;
    background: none;
    border: none;
    color: var(--gray-800);
    display: flex;
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    padding: 0;

    i {
      color: var(--gray-500);
      font-weight: var(--font-weight-normal);
      margin-right: .5rem;
    }
  }

  .drawer-body {
    border-bottom: 2px solid var(--gray-150);
    display: none;
    padding: 2rem 0 3rem 0;
  }

  &.open {
    .drawer-title {
      i {
        transform: rotate(180deg);
      }
    }

    .drawer-body {
      display: block;
    }
  }
}
