.input {
  background: var(--gray-50);
  border: 2px solid var(--gray-200);
  border-radius: var(--border-radius-md);
  height: 40px;
  margin: 0 0 1.5rem 0; 
  padding: .35rem .75rem;
  width: 100%;
}
