.search-input {
  margin: 0 .75rem 0 0;
  position: relative;
  width: 20rem;

  .input {
    margin: 0;
    padding-right: 2rem;
  }

  .icon {
    color: var(--gray-200);
    font-size: 1.25rem;
    position: absolute;
    right: .55rem;
    top: .55rem;
  }
}
