.sort {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;

  .button {
    background: none;
    border: none;
    height: .7rem;
    margin: 0;
    padding: 0;

    i {
      display: block;
      font-size: 1.25rem;
      line-height: .65rem;
    }

    &:disabled {
      .button:last-of-type {
        color: var(--gray-200);
        opacity: 1;
      }
    }
  }
}
