.spinner {
  animation: spin 1.1s infinite linear;
  border-top: .4rem solid var(--gray-200);
  border-right: .4rem solid var(--gray-200);
  border-bottom: .4rem solid var(--gray-200);
  border-left: .4rem solid var(--gray-800);
  border-radius: var(--border-radius-c);
  font-size: 10px;
  height: 5rem;
  margin: 60px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 5rem;
  
  &:after {
    border-radius: var(--border-radius-c);
    height: 10rem;
    width: 10rem;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
