.table {
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
      border-bottom: 2px solid var(--gray-150);
      
      th {
        background: var(--gray-100);
        font-weight: var(--font-weight-normal);
        padding: .75rem 0;
        text-align: left;

        &:first-of-type {
          border-top-left-radius: var(--border-radius-md);
          padding-left: 1.5rem;
        }

        &:last-of-type {
          border-top-right-radius: var(--border-radius-md);
          padding-right: 1.5rem;
        }
      }
    }

    tbody {
      td {
        border-top: 2px solid var(--gray-150);
        padding: .75rem 0;

        &:first-of-type {
          padding-left: 1.5rem;
        }

        &:last-of-type {
          padding-right: 1.5rem;
        }
      }

      tr:last-of-type {
        td {
          border-bottom: 2px solid var(--gray-150);
        }
      }

      tr.hover {
        & > td {
          border-color: transparent;
          border-top-color: var(--gray-150);
          border-style: solid;
          border-width: 2px 0;
          cursor: pointer;

          &:first-of-type {
            border-left-width: 2px;
          }

          &:last-of-type {
            border-right-width: 2px;
          }
        }

        &:last-of-type {
          & > td {
            border-bottom-color: var(--gray-150);
          }
        }

        &:focus {
          outline-offset: -2px;
        }

        &:hover {
          & > td {
            border-color: var(--blue-500);

            &:first-of-type {
              border-left-width: 2px;
              border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
            }
  
            &:last-of-type {
              border-right-width: 2px;
              border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
            }
          }

          & + tr > td {
            border-top-color: transparent;
          }
        }
      }
    }
  }
}