.table {
  background: var(--white);
  border: 1px solid var(--gray-150);
  border-radius: var(--border-radius-md);
  font-size: 13px;
  line-height: 16px;
  width: 100%;

  .row {
    align-items: center;
    border-color: var(--gray-150) transparent transparent transparent;
    border-style: solid;
    border-width: 1px;
    color: var(--gray-700);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 4rem;
    text-decoration: none;

    .cell {
      overflow: hidden;
      padding: 0 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tooltip > .button {
      color: var(--gray-700);
      font-size: 13px;
    }

    .primary {
      color: var(--blue-500);
      text-decoration: underline;
    }

    .link-hint {
      display: none;
    }

    &.head {
      border-top: none;

      &:hover {
        background: transparent;
      }

      .cell {
        color: var(--gray-800);

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }

  &.hover {
    .row:not(.head):hover {
      border: 1px solid var(--blue-500);
      border-radius: var(--border-radius-md);

      .link-hint {
        display: block;
  
        i {
          color: var(--blue-500);
          display: block;
          font-size: 1.25rem;
        }
      }

      + .row {
        border-top-color: transparent;
      }
    }
  }
}
