.table {
  border-radius: var(--border-radius-md);
  overflow: hidden;

  table {
    width: 100%;

    thead {
      background: var(--gray-100);
      border-bottom: 2px solid var(--gray-150);
      
      th {
        font-weight: var(--font-weight-normal);
        padding: .75rem 0;
        text-align: left;

        &:first-of-type {
          padding-left: 1.5rem;
        }

        &:last-of-type {
          padding-right: 1.5rem;
        }
      }
    }

    tbody {
      td {
        border-bottom: 1px solid var(--gray-150);
        padding: .5rem 0;

        &:first-of-type {
          padding-left: 1.5rem;
        }

        &:last-of-type {
          padding-right: 1.5rem;
        }
      }

       tr.hover {
        & > td {
          border-color: transparent;
          border-bottom-color: var(--gray-150);
          border-style: solid;
          border-width: 2px 0;

          &:first-of-type {
            border-left-width: 2px;
          }

          &:last-of-type {
            border-right-width: 2px;
          }
        }

        &:hover {
          & > td {
            border-color: var(--blue-500);

            &:first-of-type {
              border-left-width: 2px;
              border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
            }
  
            &:last-of-type {
              border-right-width: 2px;
              border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
            }
          }
        }
      }
    }
  }
}