.page.sites.analytics.audience {
  .title {
    margin: 0 0 2rem 0;

    &.empty {
      margin: 2rem 0 1rem 0;
      width: 100%;
    }
  }

  .heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;

    .title {
      margin: 0;
    }

    menu {
      display: flex;
      margin: 0;
      padding: 0;

      .label {
        margin: 0 1rem 0 0;
      }
    }

    @include breakpoint-sm {
      .period {
        display: none;
      }
    }
  }

  .analytics-tabs {
    margin: 0 0 3rem 0;
  }

  .empty {
    .heading {
      .period {
        display: none;
      }
    }

    .empty-state {
      display: flex;
    }
  }

  .analytics-audience {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 'countries countries countries countries countries countries'
                         'referrers referrers referrers referrers referrers referrers'
                         'languages languages languages browsers browsers browsers'
                         'devices devices screen-widths screen-widths screen-widths screen-widths';
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: auto;

    @include breakpoint-md {
      grid-gap: 1.5rem;
      grid-template-areas: 'countries'
                           'referrers'
                           'languages'
                           'browsers'
                           'devices'
                           'sceen-widths';
      grid-template-columns: 100%;
    }

    .table {
      .tooltip,
      .tooltip .button {
        display: block;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
      }
    }

    .grid-item {
      display: flex;
      flex-direction: column;

      h4 {
        margin: 2rem 0 1.5rem 0;
      }

      &.browsers {
        grid-area: browsers;

        .card {
          flex: 0;
          padding: 0;
        }

        .browser {
          margin: 0 .5rem 0 0;
          vertical-align: middle;
        }

        .filters-links {
          align-items: flex-end;
          display: flex;

          .button {
            height: 1rem;
            text-align: right;
          }
        }

        .table {
          box-shadow: none;

          .row {
            grid-template-columns: 2fr 1fr 100px;
            height: 2.5rem;
          }
        }

        .rc-pagination {
          margin: 1.5rem 0 0 0;
        }
      }

      &.referrers {
        grid-area: referrers;

        h4 {
          margin: 0 0 1.5rem 0;
        }

        .table .row {
          grid-template-columns: 2fr 1fr 100px;
          height: 2.5rem;

          @include breakpoint-md {
            align-items: flex-start;
            flex-direction: column;
            height: auto;

            .cell {
              padding: 0;

              &:first-of-type {
                font-weight: var(--font-weight-medium);
                margin-bottom: .5rem;
              }
            }
          }
        }

        .filters-links {
          display: flex;
          align-items: flex-end;

          .button {
            text-align: right;
          }
        }
        
        .rc-pagination {
          margin: 1.5rem 0 0 0;
        }
      
        .percentage {
          color: var(--gray-500);
        }
      }

      &.languages {
        grid-area: languages;
        padding: 0;

        .card {
          flex: 0;
          padding: 0;
        }

        .filters-links {
          align-items: flex-end;
          display: flex;

          .button {
            height: 1rem;
            text-align: right;
          }
        }

        .table {
          box-shadow: none;

          .row {
            grid-template-columns: 2fr 1fr 100px;
            height: 2.5rem;
          }
        }

        .rc-pagination {
          margin: 1.5rem 0 0 0;
        }
      }

      &.devices {
        grid-area: devices;

        h4 {
          margin: 0 0 1.5rem 0;
        }

        .card {
          align-items: center;
          flex: 0;
          flex-direction: row;

          &:first-of-type {
            margin-bottom: 2rem;
          }
        }

        .icon {
          color: var(--purple-500);
          display: block;
          font-size: 3rem;
          margin: 0 3rem 0 1rem;
        }

        .stats {
          p {
            margin: 0;
          }

          h3 {
            color: var(--purple-500);
            margin: 0;

            span {
              color: var(--gray-blue-700);
              font-size: var(--font-size-body-sm);
              font-weight: var(--font-weight-normal);
              line-height: var(--line-height-body-sm);
            }
          }
        }
      }


      &.countries {
        grid-area: countries;

        .chart-heading {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 0 0 1.5rem 0;

          h5 {
            margin: 0;
          }
        }

        .card {
          flex: 0;
        }

        .table {
          box-shadow: none;
        }

        .country-map {
          align-items: center;
          display: grid;
          grid-template-columns: 1fr 2fr;

          .world-map {
            grid-area: world-map;
            position: relative;
    
            svg {
              width: 100%;
            }

            .tooltip-menu {
              display: none;
              left: 0;
              position: fixed;
              top: 0;
              transition: transform .3s ease-in-out;

              &.show {
                display: block;
              }
            }
          }

          .row {
            grid-template-columns: 2fr 1fr;
            height: 2.5rem;

            &:last-of-type {
              border-bottom: 1px solid var(--gray-100);
            }

            .cell {
              &:first-of-type {
                padding-left: 0;
              }

              &:last-of-type {
                padding-right: 0;
                text-align: right;
              }
            }
          }
        }

        .rc-pagination {
          margin: 1.5rem 0 0 0;
        }
      }

      &.screen-widths {
        grid-area: screen-widths;

        h4 {
          margin: 0 0 1.5rem 0;
        }

        h5 {
          align-items: center;
          display: flex;

          i {
            font-weight: var(--font-weight-normal);
            
            &:first-of-type {
              margin-left: 1rem;
            }
          }
        }

        & > h4 {
          visibility: hidden;

          @include breakpoint-md {
            display: none;
          }
        }

        .chart-wrapper {
          height: 150px;
        }

        .axis {
          align-items: center;
          display: flex;
          justify-content: space-between;

          p {
            color: var(--gray-blue-700);
            margin: 0;
          }
        }

        .items {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;

          @include breakpoint-md {
            flex-direction: column;
          }

          .item {
            background: var(--gray-50);
            border-radius: var(--border-radius-md);
            padding: 1.5rem;
            width: calc(33% - 1rem);

            @include breakpoint-md {
              margin-top: 1.5rem;
              width: 100%;
            }

            p {
              font-weight: var(--font-weight-medium);
              margin: 0 0 1rem 0;
              text-align: center;
            }

            h4 {
              color: var(--blue-500);
              display: block;
              margin: 0;
              text-align: center;
            }
          }
        }
      }

      .card {
        display: flex;
        flex: 1;
        flex-direction: column;

        h4 {
          margin: 0 0 1.5rem 0;
        }
  
        h5 {
          margin: 0 0 1.5rem 0;
        }
      }
  
      .heading {
        align-items: center;
        display: flex;
        justify-content: space-between;
  
        .title {
          h3 {
            color: var(--purple-500);
            margin: 0 1rem;
          }
  
          h5 {
            margin: 0;
          }
        }
  
        .actions {
          display: flex;
  
          .label {
            margin: 0 1.5rem 0 0;
          }
  
          .checkbox:last-of-type {
            margin-right: 0;
          }
        }
      }
  
      .numbered-grid {
        display: flex;
        flex: 1;
        flex-direction: column;
  
        h3 {
          align-items: flex-end;
          display: flex;
          font-weight: var(--font-weight-medium);
          flex: 1;
          margin: 0;
        }
  
        .trend {
          align-self: flex-start;
          margin-top: 1.5rem;
        }
  
        &.blue {
          h3 {
            color: var(--blue-500);
          }
        }
  
        &.purple {
          h3 {
            color: var(--purple-500);
          }
        }
      }
    }
  }
}
