.page.sites.errors {
  .errors-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    white-space: nowrap;
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;
  }

  .empty {
    .empty-state {
      display: flex;
    }
  }

  .event-counts {
    margin: 0 0 2rem 0;
    
    .title {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin: 0 0 1rem 0;

      h5 {
        margin: 0;
        line-height: 2rem;
      }
    }

    .graph-wrapper {
      height: 340px;
      width: 100%;

      svg {
        overflow: visible;
      }
    }
  }

  .errors-table {
    .row {
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }
  }

  .errors-table-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0 0;
  }
}

.custom-tooltip {
  white-space: normal;

  background: var(--gray-blue-800);
  border-radius: var(--border-radius-md);
  color: var(--gray-100);
  padding: 1rem;

  p {
    align-items: center;
    display: flex;
    margin: 0 0 .5rem 0;

    &:last-of-type {
      color: var(--rose-500);
      margin-bottom: 0;
    }
  }
}
