.page.sites.api-key {
  .input-group {
    display: flex;
    margin: 0 0 2rem 0;

    .input {
      margin: 0 1rem 0 0;

      &:disabled {
        background: var(--gray-100);
        border-color: var(--gray-150);
        color: var(--gray-500);
      }
    }

    .button {
      flex-shrink: 0;
      margin: 0;
      width: 12rem;
    }
  }
}

