.page.sites.delete {}

.delete-site-modal {
  .delete-site-button:disabled {
    position: relative;

    span {
      visibility: hidden;
    }

    .spinner {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: .4rem;
      width: 100%;

      p {
        display: none;
      }

      .icon {
        color: var(--rose-500);
        font-size: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
