.page.sites.privacy {
  .privacy-options {
    .option-label {
      align-items: center;
      display: flex;
      font-weight: var(--font-weight-medium);
      margin: 0 0 1.5rem 0;

      .icon {
        color: var(--blue-500);
        font-size: var(--font-size-body-xl);
        font-weight: var(--font-weight-normal);
        margin: 0 .5rem 0 0;
      }

      i {
        color: var(--gray-500);
        font-weight: var(--font-weight-normal);
        margin: 0 0 0 .5rem;
      }
    }

    h5 {
      margin: 0 0 1rem 0;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1.5rem;

      li {
        margin: 0 0 1rem 0;
      }
    }

    .card {
      margin: 0 0 1rem 0;

      p:last-of-type {
        margin: 0;
      }

      .checkbox.label {
        margin: 1.5rem 0 0 0;
      }
    }

    .toggle {
      align-items: center;
      flex-direction: row-reverse;
      font-weight: var(--font-weight-normal);
      justify-content: flex-end;
      margin: 0 0 2.5rem 0;

      span {
        margin: 0;
      }
    }

    .magic-erasure-hint {
      align-items: center;
      background: var(--gray-50);
      border-radius: var(--border-radius-md);
      display: flex;
      margin: 1.5rem 0 0 0;
      padding: 1.5rem;

      p {
        margin: 0;
      }

      .magic-erasure-button {
        align-items: center;
        background: var(--peach-50);
        border-radius: var(--border-radius-o);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        display: flex;
        height: 3rem;
        justify-content: center;
        margin: 0 1rem 0 0;
        width: 3rem;

        &:hover {
          background: var(--peach-100);
          cursor: pointer;
        }
      }
    }
  }

  .consent {
    form {
      margin: 2rem 0 0 0;
    }

    .radio-group {
      margin-top: .75rem;
    }

    .actions {
      margin: 3rem 0 0 0;
    }

    .card {
      margin: 1rem 0 0 1.5rem;
    }

    .languages {
      margin: 0 0 1.5rem 0;
  
      .row {
        display: grid;
        font-size: var(--font-size-body);
        line-height: var(--line-height-body);
        grid-template-columns: 14rem 1fr;
        margin: 0 0 .5rem 0;
  
        span {
          align-items: center;
          display: flex;
  
          .checkbox {
            margin: 0 .25rem 0 0;
          }
        }
      }
    }

    .preview {
      align-items: center;
      display: inline-flex;
      margin: 2rem 0 0 0;

      .icon {
        color: var(--blue-500);
        margin: 0 .5rem 0 0;
      }
    }
  }

  .consent-preview {
    background: var(--white);
    border-radius: var(--border-radius-md);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    margin: 1.5rem;
    max-width: 30rem;
    padding: 2rem;
    position: fixed;
    width: 100%;

    h5 {
      margin: 0 0 1.5rem 0;
      padding: 0 3.5rem 0 0;
    }

    .link {
      align-items: center;
      color: var(--gray-blue-800);
      display: flex;
      font-weight: var(--font-weight-medium);
      
      .icon {
        color: var(--gray-500);
        font-size: var(--font-size-body-xxl);
      }
    }

    ul {
      margin: 0;
      padding: 1rem 0 0 1rem;

      li {
        font-size: var(--font-size-body-sm);
      }
    }

    .actions {
      margin: 1.5rem 0 0 0;
    }

    .locale {
      align-items: center;
      display: flex;
      height: 1rem;
      margin: 0;
      position: absolute;
      right: 2rem;
      top: 2rem;
  
      .translation-icon {
        color: var(--gray-300);
        font-size: 12px;
        margin: 0 .125rem 0 0;
      }
  
      .select {
        align-self: center;
        border: none;
        display: flex;
        height: auto;
        margin: 0;
  
        select {
          font-size: 12px;
          font-weight: var(--font-weight-medium);
          height: auto;
          line-height: 16px;
          margin: 0;
          padding: 0;        
          text-transform: uppercase;
        }
  
        i {
          font-size: 1rem;
          height: 1rem;
          line-height: 1rem;
          position: static;
          width: 1rem;
        }
      }
    }

    &.bottom_left {
      bottom: 0;
      left: 0;
      z-index: 5;
    }

    &.bottom_right {
      bottom: 0;
      right: 0;
      z-index: 5;
    }

    &.center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
