.page.sites.subscription {
  .title {
    align-items: center;
    display: flex;
    margin: 0 0 2rem 0;
  }

  .empty-state {
    display: flex;
  }

  .currency-select {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    
    .label {
      margin: 0 1rem 0 0;
    }

    .select {
      margin: 0;
      width: 150px;
    }
  }

  .plan-table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem 0;

    .col {
      background: var(--white);
      position: relative;

      &:first-of-type {
        .cell {
          border-left: 1px solid var(--gray-150);

          &:nth-of-type(2) {
            border-top: 1px solid var(--gray-150);
            border-top-left-radius: var(--border-radius-md);
          }

          &:last-of-type {
            border-bottom-left-radius: var(--border-radius-md);
          }
        }
      }

      &:nth-of-type(2) {
        .head {
          border-left: 1px solid var(--gray-150);
          border-top-left-radius: var(--border-radius-md);
        }
      }

      &:last-of-type {
        .cell {
          border-right: 1px solid var(--gray-150);

          &:first-of-type {
            border-top-right-radius: var(--border-radius-md);            
          }

          &:last-of-type {
            border-bottom-right-radius: var(--border-radius-md);
          }
        }
      }

      &.current {
        background: var(--gray-50);

        &:before {
          background: var(--gray-50);
          border-color: var(--gray-150);
          border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
          border-style: solid;
          border-width: 1px 1px 0 1px;
          content: '';
          display: block;
          height: 5px;
          left: 0;
          position: absolute;
          top: -4px;
          width: calc(100% - 2px);
        }

        &:after {
          background: var(--gray-50);
          border-color: var(--gray-150);
          border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
          border-style: solid;
          border-width: 0 1px 1px 1px;
          content: '';
          display: block;
          height: 5px;
          left: 0;
          position: absolute;
          top: 100%;
          width: calc(100% - 2px);
        }
        
        .cell {
          border-left: 1px solid var(--gray-150);
          border-radius: 0;
          border-right: 1px solid var(--gray-150);

          &:first-of-type {
            border-top: none;
          }

          &:last-of-type {
            border-bottom: none;
          }
        }
      }

      &.y-labels {
        .cell {
          text-align: left;
        }
      }
    }

    .cell {
      border-color: var(--gray-100);
      border-style: solid;
      border-width: 1px 1px 0 0;
      font-size: 13px;
      height: 3rem;
      line-height: 16px;
      padding: 1rem;

      &:last-of-type {
        border-bottom: 1px solid var(--gray-150);
      }

      &.head {
        border-top: 1px solid var(--gray-150);
        height: 11rem;
        padding: 1.5rem;

        &.blank {
          background: var(--gray-50);
          border: none;
        }

        p {
          margin: 0 0 1rem 0;

          &.pricing {
            color: var(--gray-300);
            font-size: 13px;
            line-height: 16px;
            margin: 0 0 1.5rem 0;

            b {
              color: var(--gray-500);
              font-size: 18px;
              line-height: 24px;
            }
          }
        }

        .button {
          width: 100%;
        }
      }

      &:not(.head) {
        text-align: center;

        .icon {
          color: var(--blue-500);
          font-size: 24px;
        }
      }
    }
  }

  .enterprise {
    align-items: center;
    background: var(--gray-blue-700);
    border-radius: var(--border-radius-md);
    display: flex;
    padding: 2rem;

    .icon {
      align-self: flex-start;
      color: var(--blue-300);
      flex-shrink: 0;
      font-size: 1.5rem;
      margin: 0 1rem 0 0;
    }

    p {
      color: var(--blue-50);
      margin: 0 3rem 0 0;
    }

    .button {
      background: var(--yellow-500);
      border-color: var(--yellow-500);
      color: var(--gray-blue-800);
      flex-shrink: 0;

      &:hover {
        opacity: .85;
      }
    }
  }

  .billing-table {
    .head {
      .cell {
        font-weight: var(--font-weight-normal);
      }
    }

    .row {
      grid-template-columns: 1fr 1fr 128px;
    }

    .link {
      font-size: 13px;
      line-height: 16px;
      text-decoration: underline;
    }
  }

  .transactions-table {
    .head {
      .cell {
        font-weight: var(--font-weight-normal);
      }
    }

    .row {
      grid-template-columns: 1fr 1fr 1fr 128px;
    }
  }
}
