.page.sites.team {
  .title {
    align-items: center;
    display: flex;
    margin: 0 0 2rem 0;

    @include breakpoint-md {
      justify-content: flex-start;
    }
  }

  .table {
    .row {
      grid-template-columns: repeat(5, 1fr);
    }

    .role {
      .select {
        margin: 0;
      }
    }
  
    .options {
      overflow: visible;
      text-overflow: clip;

      .button {
        background: none;
        border: none;
        font-size: var(--font-size-body-sm);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-body-sm);
        padding: 0;
        text-decoration: underline;
  
        &.positive {
          color: var(--blue-500);
        }
  
        &.negative {
          color: var(--rose-500);
        }
  
        & + .button {
          margin-left: 1rem;
        }
      }
    }
  }

  h4 {
    margin: 1rem 0 1.5rem 0;
  }

  .invite-member {
    display: inline-block;
    margin: 2rem 0;
  }

  .roles {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    @include breakpoint-md {
      grid-template-columns: 1fr;
    }

    h5 {
      margin: 0 0 1rem 0;
    }

    p {
      color: var(--gray-blue-700);
      margin-bottom: .75rem;
    }

    ul {
      margin: 0 0 1rem 0;
      padding: 0;

      li {
        align-items: flex-start;
        display: flex;
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        list-style: none;
        margin: 0 0 .125rem 0;
      }

      .icon {
        color: var(--blue-500);
        font-size: var(--font-size-body);
        margin: 0 .25rem 0 0;

        &.negative {
          color: var(--rose-500);
        }
      }
    }
  }
}
