.page.__admin.blog {
  .posts-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;

    .button,
    .back {
      align-items: center;
      display: flex;
    }

    .back {
      text-decoration: none;

      .icon {
        margin: 0 .25rem 0 0;
      }
    }
  }

  .posts-table {
    min-width: 1024px;

    .row {
      grid-template-columns: 60px 1fr 1fr 1fr 1fr 100px 1fr 1fr 4rem;
    }

    .author {
      img {
        border-radius: var(--border-radius-o);
        display: inline-block;
        margin: 0 .5rem 0 0;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .publish-status {
      align-items: center;
      background: none;
      border: none;
      border-radius: var(--border-radius-md);
      display: flex;
      font-weight: var(--font-weight-medium);
      height: 2rem;
      margin-left: 0.5rem;
      padding: 0 1rem;

      &:hover {
        background: var(--gray-100);
      }

      .icon {
        color: var(--mauve-700);
        font-size: var(--font-size-body-lg);
        margin: 0 0.5rem 0 0;
      }

      span {
        font-weight: var(--font-weight-normal);
        margin: 0 0 0 .25rem;
      }
    }
  }

  .edit-body {
    background: var(--gray-blue-800);
    color: var(--white);
    font-family: 'Monaco', 'Consolas' 'Courier New', monospace;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
  }

  .actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
