<h1>You’ve been invited to join Squeaky</h1>
<p><%= @inviter.full_name %> has invited you to the <% @site.name %> team on Squeaky.  Please click the button below to sign-up.</p>
<a href="#" class="button">Accept Invitation</a>
<p class="small">If you believe you have received this email in error you can safely ignore it.</p>
