<h1>A user has left your <%= @site.name %> team.</h1>
<p><%= @leaver.full_name %> has left your <%= @site.name %> team on Squeaky.</p>
<a href="#" class="button">Visit Squeaky</a>
<p class="small">If you believe you have received this email in error you can safely ignore it.</p>
