<h1>You have been removed from the <%= @site.name %> team on Squeaky.</h1>
<p>You still have an account on Squeaky, but you will no longer have access to <%= @site.name %>. If you believe this was in error, please contact your site administrator.</p>
<a href="#" class="button">Visit Squeaky</a>
