.page.analytics {
  background: var(--white);
  padding-bottom: 3rem;

  .empty-state {
    align-items: center;
    background: var(--gray-50);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;

    h3 {
      font-size: 3.2rem;
    }

    .message {
      max-width: 580px;
    }
  }

  .analytics-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: 'graph graph graph visitors'
                         'graph graph graph views'
                         'session-duration session-duration session-pages session-pages'
                         'page-browser page-browser page-browser page-browser'
                         'devices devices devices devices';
    grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
    grid-template-rows: 216px 216px 296px 600px 210px;

    .card {
      background: var(--gray-100);
      border-radius: var(--border-radius-lg);
      box-shadow: none;
      padding: 3rem;

      h2 {
        margin: 0;
      }

      h4 {
        margin: 0 0 1rem 0;
      }

      .card {
        height: 100%;
        padding: 2rem;
      }

      &.basic {
        background: none;
        padding: 0;
      }

      &.graph {
        grid-area: graph;
      }

      &.visitors {
        grid-area: visitors;
        
        h2 {
          color: var(--blue-500);
        }
      }

      &.views {
        grid-area: views;

        h2 {
          color: var(--magenta-500);
        }
      }

      &.session-duration {
        grid-area: session-duration;

        h2 {
          color: var(--blue-500);
        }
      }

      &.session-pages {
        grid-area: session-pages;

        h2 {
          color: var(--blue-500);
        }
      }

      &.page-browser {
        grid-area: page-browser;

        .grid {
          display: grid;
          grid-gap: 3rem;
          grid-template-columns: 1fr 388px;
          grid-template-rows: 600px;
        }
      }


      &.devices {
        grid-area: devices;

        .grid {
          display: grid;
          grid-gap: 3rem;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          grid-template-rows: 144px;
        }

        .card {
          align-items: center;
          display: flex;

          i {
            color: var(--blue-500);
            display: block;
            font-size: 2.5rem;
            margin: 0 3rem 0 1rem;
          }

          .stats {
            p {
              margin: 0;
            }

            h3 {
              color: var(--blue-500);
              margin: 0;

              span {
                color: var(--gray-700);
                font-size: 13px;
                font-weight: var(--font-weight-normal);
              }
            }
          }
        }
      }
    }
  }
}
