.page.sites.heatmaps {
  #main {
    padding-bottom: 3rem;
  }

  .heatmaps-heading {
    align-items: center;
    display: flex;
    margin: 0 0 3rem 0;

    .heatmaps-pages {
      align-items: center;
      display: flex;
      margin-left: 1.5rem;

      .label,
      .select,
      .button {
        margin: 0 .75rem 0 0;
      }

      .select {
        width: 320px;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;
  }

  .empty-state {
    align-items: center;
    display: none;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 11rem);
    width: 100%;

    .empty-state-contents {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h4 {
        margin: 3rem 0;
      }

      .message {
        max-width: 580px;
      }
    }
  }

  .empty {
    .empty-state {
      display: flex;
    }

    .heatmaps-pages {
      display: none;
    }
  }

  .heatmaps-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 'options options'
                         'content data';
    grid-template-columns: 1fr 330px;
    grid-template-rows: 40px minmax(0, 1fr);
    height: calc(100% - 168px);

    .options {
      display: flex;
      grid-area: options;
  
      .button-group {
        margin-right: 1.5rem;
  
        .button {
          align-items: center;
          display: flex;
  
          i {
            font-size: 1.25rem;
            margin-right: .5rem;
          }
        }
      }
    }
              
    .data {
      background: var(--white);
      border: 1px solid var(--gray-200);
      border-radius: var(--border-radius-md);
      grid-area: data;
      height: 100%;

      .head {
        border-bottom: 1px solid var(--gray-150);
        display: flex;
      }

      p {
        font-size: 13px;
        line-height: 16px;
        margin: 0;
        padding: 1.5rem 0 1.5rem 1.5rem;
      }

      ul {
        flex: 1;
        margin: 0;
        overflow-y: auto;
        padding: 0;

        li {
          border-bottom: 1px solid var(--gray-150);
          display: flex;
          list-style: none;

          i {
            color: var(--gray-500);
          }
        }
      }

      .clicks-table {
        display: flex;
        flex-direction: column;
        height: 100%;

        .row {
          p:first-of-type {
            flex: 1;
          }

          p:last-of-type {
            width: 140px;
          }
        }
      }

      .scrolls-table {
        display: flex;
        flex-direction: column;
        height: 100%;

        .row {
          p {
            flex: 1;
            white-space: nowrap;
          }
        }
      }
    }

    .content {
      background: var(--white);
      border: 1px solid var(--gray-200);
      border-radius: var(--border-radius-md);
      grid-area: content;
      position: relative;
    }
  }

  .heatmap-overlay {
    height: 100%;
    position: absolute;
    width: 100%;

    circle {
      mix-blend-mode: multiply;
    }
  }
}
