.page.sites.heatmaps {
  .heatmaps-heading {
    align-items: center;
    display: flex;
    margin: 0 0 3rem 0;

    .heatmaps-pages {
      align-items: center;
      display: flex;
      margin-left: 1.5rem;

      .label,
      .select,
      .button {
        margin: 0 .75rem 0 0;
      }

      .select {
        width: 320px;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;
  }

  .empty-state {
    align-items: center;
    display: none;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 11rem);
    width: 100%;

    .empty-state-contents {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h4 {
        margin: 3rem 0;
      }

      .message {
        max-width: 580px;
      }
    }
  }

  .empty {
    .empty-state {
      display: flex;
    }

    .heatmaps-pages {
      display: none;
    }
  }
}
