.page.sites.journeys {
  #main {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 0;
  }

  .title {
    margin: 0 0 2rem 0;

    &.empty {
      margin: 2rem 0 1rem 0;
      width: 100%;
    }
  }

  .heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;

    .title {
      margin: 0;
    }

    @include breakpoint-sm {
      .period {
        display: none;
      }
    }
  }

  .empty {
    .heading {
      .period {
        display: none;
      }
    }

    .empty-state {
      display: flex;
    }
  }

  .controls {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: flex-start;
  }

  .journeys {
    height: 100%;
  }

  .journeys-pages {
    align-items: center;
    display: flex;
    margin: 0;

    .select {
      margin: 0;
      width: 15rem;
    }

    .label {
      margin: 0 .75rem 0 0;
    }
  }

  .position {
    margin: 0 1rem 0 0;
  }

  .journey-wrapper {
    height: calc(100vh - 18rem);
    margin: 3rem 0 0 0;
  }

  .journey-graph {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    overflow: auto;

    .col {
      background: var(--gray-100);
      border-radius: var(--border-radius-md);
      height: calc(100% - 1.5rem);
      margin-right: .5rem;
      padding: .75rem .5rem;
      width: 15rem;

      .heading {
        color: var(--gray-500);
        font-size: 13px;
        justify-content: center;
        line-height: 16px;
        margin: 0 0 .75rem 0;
      }

      .page {
        background: var(--white);
        border: 1px solid var(--blue-500);
        border-radius: var(--border-radius-md);
        box-shadow: var(--box-shadow-md);
        display: block;
        margin: 0 0 .5rem 0;
        min-height: 3.125rem;
        padding: 1rem;

        p {
          margin: 0;
        }

        .row {
          align-items: center;
          display: flex;
        }

        .tooltip {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .path {
          font-size: 13px;
          font-weight: var(--font-weight-bold);
          line-height: 16px;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;

          .icon {
            color: var(--blue-500);
            font-size: 1rem;
            font-weight: var(--font-weight-normal);
            margin: 0 .25rem 0 0;
            vertical-align: middle;
          }
        }

        .stats {
          color: var(--gray-blue-800);
          font-size: 13px;
          line-height: 16px;
          margin-left: 1rem;
          text-align: right;
        }
      }
    }
  }
}
