.page.sites.recordings {
  background: var(--white);
  display: flex;
  flex: 1;
  flex-direction: column;

  .title {
    align-items: center;
    display: flex;
    margin: 3rem 0;

    &.empty {
      margin: 3rem 0 1rem 0;
      width: 100%;
    }

    .search {
      align-items: center;
      display: flex;
      margin: 0 0 0 2rem;
      position: relative;
      width: 320px;

      .input {
        margin: 0;
        padding-right: 2.25rem;
      }

      .button {
        background: none;
        border: none;
        color: var(--gray-800);
        font-size: 1.25rem;
        padding: 0;
        position: absolute;
        right: 2.5rem;

        i {
          display: block;
        }

        &:hover {
          color: var(--blue-500);
        }
      }

      & > i {
        color: var(--gray-200);
        display: block;
        font-size: 1.5rem;
        font-weight: var(--font-weight-normal);
        position: absolute;
        right: .75rem;
      }
    }
  }

  .empty-state {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 3rem;
    width: 100%;

    .empty-state-contents {
      align-items: center;
      background: var(--gray-50);
      border-radius: var(--border-radius-lg);
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 3rem;
      padding: 4rem 3rem;
      width: 100%;

      h4 {
        margin: 3rem 0 2rem 0;
      }

      .message {
        max-width: 580px;
      }
    }
  }

  .recordings-list {
    margin-bottom: 2rem;
  
    &.table {
      color: var(--gray-700);
      font-size: 13px;
      line-height: 16px;
  
      .device {
        color: var(--blue-500);
        font-size: 1.5rem;
        margin-right: .5rem;
        vertical-align: middle;
      }

      .bookmark {
        background: none;
        border: none;
        color: var(--gray-150);
        display: inline-block;
        font-size: 1.5rem;
        margin-right: .5rem;
        padding: 0;
        vertical-align: middle;

        &:hover {
          color: var(--gray-700);
        }

        &.active {
          color: var(--blue-500);
        }
      }
  
      .start-exit-page {
        font-size: 13px;
        line-height: 20px;
  
        td {
          border: none;
          padding: 0;
          text-align: left;
  
          &:first-of-type {
            color: var(--gray-200);
            width: 70px;
          }
        }
      }

      .dropdown {
        .options {
          align-items: center;
          background: none;
          border: none;
          border-radius: var(--border-radius-o);
          display: flex;
          height: 2rem;
          flex-shrink: 0;
          font-size: 1.25rem;
          justify-content: center;
          padding: 0;
          width: 2rem;

          .arrow {
            display: none;
          }

          &:hover {
            background: var(--gray-100);
            color: var(--blue-500);
          }
        }

        .dropdown-menu {
          z-index: 2;

          .button {
            background: none;
            border: none;

            i {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }

            &:hover {
              background: var(--gray-100);
            }
          }
        }
      }
    }
  
    & + .button {
      display: block;
      margin: 0 auto 2rem auto;
    }

    tbody {
      tr.viewed {
        background: var(--gray-100);
      }

      td:nth-of-type(1) {
        max-width: 130px;
        width: 130px;
      }

      td:nth-of-type(2) {
        max-width: 150px;
        width: 150px;
      }

      td:nth-of-type(3) {
        max-width: 120px;
        width: 120px;
      }

      td:nth-of-type(4) {
        max-width: 220px;
        width: 220px;
      }

      td:nth-of-type(5) {
        max-width: 120px;
        width: 120px;
      }

      td:nth-of-type(6) {
        max-width: 200px;
        width: 200px;
      }

      td:nth-of-type(7) {
        max-width: 110px;
        width: 110px;
      }

      td:nth-of-type(8) {
        max-width: 300px;
        width: 300px;
      }

      td:nth-of-type(9) {
        max-width: 200px;
        width: 200px;
      }

      td:nth-of-type(10) {
        max-width: 120px;
        width: 120px;
      }

      td:nth-of-type(11) {
        max-width: 60px;
        width: 60px;
      }
    }
  }
  
  .recordings {
    .empty-state {
      display: none;
    }

    &.empty {
      display: flex;
      flex: 1;
      flex-direction: column;

      &#main {
        padding-bottom: 0;
      }

      .title {
        margin-bottom: 1rem;
      }

      .empty-state {
        display: flex;
        flex: 1;
        padding: 0;

        h4 {
          margin: 3rem 0 0 0;
        }
      }

      .recordings-list {
        display: none;
      }
    }
  }
}
