.page.recordings {
  background: var(--white);
  flex: 1;

  .title {
    margin: 3rem 0;

    &.empty {
      margin-bottom: 1rem;
    }
  }

  .empty-state {
    align-items: center;
    background: var(--gray-50);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;

    h3 {
      font-size: 3.2rem;
    }

    .message {
      max-width: 580px;
    }
  }
}
