.page.recordings {
  background: var(--white);
  flex: 1;

  .title {
    margin: 3rem 0;

    &.empty {
      margin-bottom: 1rem;
    }
  }

  .empty-state {
    align-items: center;
    background: var(--gray-50);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;

    h3 {
      font-size: 3.2rem;
    }

    .message {
      max-width: 580px;
    }
  }

  .table {
    color: var(--gray-700);

    .indicator {
      background: var(--gray-200);
      border-radius: var(--border-radius-c);
      display: inline-block;
      height: .75rem;
      margin-right: .5rem;
      width: .75rem;

      &.active {
        background: var(--green-500);
      }
    }

    .device {
      color: var(--blue-500);
      font-size: 1.5rem;
      margin-right: .5rem;
      vertical-align: middle;
    }

    .start-exit-page {
      font-size: 13px;
      line-height: 20px;

      td {
        border: none;
        padding: 0;
        text-align: left;

        &:first-of-type {
          color: var(--gray-200);
          width: 70px;
        }
      }
    }
  }
}
