.page.sites.settings {
  .title {
    align-items: center;
    display: flex;
    margin: 0 0 3rem 0;
  }

  .tracking {
    .label {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .button {
        background: none;
        border: none;
        color: var(--blue-500);
        font-weight: var(--font-weight-bold);
        padding: none;
      }
    }

    .verify-site {
      display: inline-block;
      margin: 1.5rem 0 3rem 0;
    }
  }

  h4 {
    align-items: center;
    display: flex;

    .verified {
      align-items: center;
      display: flex;
      font-size: 16px;
      font-weight: var(--font-weight-normal);

      .icon {
        color: var(--green-500);
        margin: 0 .25rem 0 1rem;
      }
    }
  }

  .verified-badge {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-left: 1rem;

    i {
      color: var(--green-500);
      font-size: 1.5rem;
      margin-right: .5rem;
    }
  }

  .unverified-badge {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-left: 1rem;

    i {
      color: var(--magenta-500);
      font-size: 1.5rem;
      margin-right: .5rem;
    }
  }

  .warning-badge {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-left: 1rem;

    i {
      color: var(--orange-500);
      font-size: 1.5rem;
      margin-right: .5rem;
    }
  }

  .delete-list {
    margin-bottom: 2rem;
    padding: 0 0 0 1rem;

    li {
      margin-bottom: .5rem;
    }
  }
}
