.page.team {
  background: var(--white);
  flex: 1;
  padding-bottom: 3rem;

  .title {
    align-items: center;
    display: flex;
    margin: 3rem;
  }

  .table {
    td {
      color: var(--gray-700);
    }

    tr {
      height: 3.75rem;
    }

    .role {
      width: 240px;

      .select {
        margin: 0;
        width: 160px;
      }
    }
  
    .options {
      width: 340px;
  
      .button {
        background: none;
        border: none;
        font-weight: var(--font-weight-normal);
        padding: 0;
        text-decoration: underline;
  
        &.positive {
          color: var(--blue-500);
        }
  
        &.negative {
          color: var(--magenta-500);
        }
  
        & + .button {
          margin-left: 1rem;
        }
      }
    }
  }

  .invite-member {
    display: inline-block;
    margin: 3rem 0 2rem 0;
  }

  .roles {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

    h4 {
      margin-bottom: 1rem;
    }

    p {
      color: var(--gray-700);
      margin-bottom: 1rem;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1.25rem;
    }
  }
}
