.page.team {
  background: var(--white);
  padding-bottom: 3rem;

  .table {
    td {
      color: var(--gray-700);
    }
  }

  .invite-member {
    display: inline-block;
    margin: 3rem 0 2rem 0;
  }

  .roles {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

    h4 {
      margin-bottom: 1rem;
    }

    p {
      color: var(--gray-700);
      margin-bottom: 1rem;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1.25rem;
    }
  }
}
