.footer {
  &.public-footer {
    background: var(--gray-800);
    color: var(--gray-150);
    padding: 1.5rem;

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    p {
      margin: 0;
    }

    nav {
      align-items: center;
      display: flex;

      a {
        color: var(--gray-150);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .divider {
        background: var(--gray-700);
        height: 1.5rem;
        display: inline-block;
        margin: 0 1rem;
        width: 2px;
      }
    }
  }
}
