.header {
  &.public-header {
    background: var(--white);
    height: 80px;

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;

      menu {
        a {

          &:not(.button) {
            color: var(--gray-800);
            font-weight: var(--font-weight-bold);
            margin-right: 2rem;
            text-decoration: none;

            &:hover {
              color: var(--blue-500);
            }
          }

          &.button {
            margin-right: 1rem;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
