.strip {
  background: var(--gray-100);
  padding: .5rem 0;
  
  .container {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    i {
      color: var(--blue-500);
      margin-right: .25rem;
    }

    a {
      color: var(--gray-800);
      font-size: 13px;
      line-height: 16px;
      margin-right: 1rem;
      text-decoration: none;

      &:hover {
        color: var(--blue-500);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
