<h1>Your sign-up code for Squeaky.ai</h1>
<p>Thanks for signing up to Squeaky. Please use the following temporary code to access your account:</p>
<h2 class="token"><%= @token %></h2>
<p class="small">Psst…we use codes instead of passwords as it’s much more secure. You’ll receive these one-time, randomly generated codes each future time you log in to Squeaky.</p>
<p>(If you didn't try to sign up, you can safely ignore this email.)</p>
