.page.sites.recording {
  align-items: center;
  background: var(--gray-100);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header {
    display: none;
    flex-shrink: 0;

    .breadcrumbs {
      flex-shrink: 0;
      margin: 0;
      width: 228px;
    }

    .recording-actions {
      justify-content: flex-end;
      width: 228px;
    }
  }

  .player-page {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    transition: padding .3s ease-in-out;
    width: 100%;

    .header {
      display: flex;
    }

    &.open {
      padding-right: 18.5rem;
    }
  }

  #app-sidebar {
    display: none;
  }
}
