.page.sites.recordings {
  .recordings-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 3rem 0;

    menu {
      align-items: center;
      display: flex;
      margin: 0;

      .menu-item {
        position: relative;

        .dropdown.open > .button {
          background: var(--gray-100);
        }

        .dropdown-menu {
          left: auto;
          right: 0;
          top: calc(100% + .5rem);
          transform: none;
        }
      }

      .dropdown {
        & > .button {
          background: none;
          border: none;
          border-radius: var(--border-radius-md);
          height: 40px;
          margin-left: .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--gray-100);
          }
  
          i {
            position: static;
  
            &:not(.arrow) {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }
          }
        }
      }

      .columns {
        .dropdown-menu {
          width: 220px;
        }

        .filters-columns {
          padding: 1rem;

          .checkbox {
            margin-bottom: .5rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }

      .dropdown-menu {
        width: 210px;

        & > .button {
          color: var(--gray-800);
          height: 40px;
          margin-left: 0;
          padding: 0 .5rem;
          text-align: left;

          &.open {
            background: var(--gray-100);
          }

          i {
            color: var(--gray-800);
            font-size: 1.5rem;
          }
        }

        .popout {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
          display: none;
          padding: 1.5rem;
          position: absolute;
          right: 220px;
          top: 0;

          &.open {
            display: block;
          }

          .actions {
            display: flex;

            .button {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }

      .bulk-actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
    
        .dropdown {
          & > .button {
            background: none;
            border: none;
            border-radius: var(--border-radius-md);
            padding: .5rem 1rem .5rem 1rem;
    
            i:not(.arrow) {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }

            &:hover {
              background: var(--gray-100);
            }
    
            .arrow {
              right: .5rem;
              top: .5rem;
            }
          }
    
          &.open {
            & > .button {
              background: var(--gray-100);
            }
          }
        }
    
        .dropdown-menu {
          transform: translate(0, 3rem); 
        }
      }
    }
  }

  .filter-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    .label {
      margin: 0 .5rem .75rem 1rem;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .tag {
      height: 2rem;
      margin: 0 .5rem .75rem 0;

      span span {
        color: var(--gray-500);
        padding: 0;
      }
    }

    .clear-filters {
      align-items: center;
      color: var(--magenta-500);
      display: flex;
      height: 2rem;
      margin: 0 0 .75rem .5rem;

      i {
        font-size: 1.25rem;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;

    .search {
      align-items: center;
      display: flex;
      margin: 0 0 0 2rem;
      position: relative;
      width: 320px;

      .input {
        margin: 0;
        padding-right: 2.25rem;
      }

      .button {
        background: none;
        border: none;
        color: var(--gray-800);
        font-size: 1.25rem;
        padding: 0;
        position: absolute;
        right: 2.5rem;

        i {
          display: block;
        }

        &:hover {
          color: var(--blue-500);
        }
      }

      & > i {
        color: var(--gray-200);
        display: block;
        font-size: 1.5rem;
        font-weight: var(--font-weight-normal);
        position: absolute;
        right: .75rem;
      }
    }
  }

  .empty-state {
    align-items: center;
    display: none;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 11rem);
    width: 100%;

    .empty-state-contents {
      align-items: center;
      background: var(--gray-50);
      border-radius: var(--border-radius-md);
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h4 {
        margin: 3rem 0;
      }

      .message {
        max-width: 580px;
      }
    }
  }

  .empty {
    .title {
      .search {
        display: none;
      }
    }

    .empty-state {
      display: flex;
    }
  }

  .recordings-list {
    margin-bottom: 2rem;

    .row {
      grid-template-columns: 105px 1fr 1fr 1fr 1fr 1fr 2fr 1fr 90px 70px;
    }
  
    & + .button {
      display: block;
      margin: 0 auto 2rem auto;
    }

    &.hide-select {
      .row {
        .cell:nth-of-type(1) {
          display: none;
        }
      }
    }

    &.hide-status {
      .row {
        .cell:nth-of-type(2) {
          display: none;
        }
      }
    }

    &.hide-visitor-id {
      .row {
        .cell:nth-of-type(4) {
          display: none;
        }
      }
    }

    &.hide-date-time {
      .row {
        .cell:nth-of-type(5) {
          display: none;
        }
      }
    }

    &.hide-duration {
      .row {
        .cell:nth-of-type(6) {
          display: none;
        }
      }
    }

    &.hide-pages {
      .row {
        .cell:nth-of-type(7) {
          display: none;
        }
      }
    }

    &.hide-start-exit {
      .row {
        .cell:nth-of-type(8) {
          display: none;
        }
      }
    }

    &.hide-device {
      .row {
        .cell:nth-of-type(9) {
          display: none;
        }
      }
    }

    &.hide-browser {
      .row {
        .cell:nth-of-type(10) {
          display: none;
        }
      }
    }
  }
  
  .recordings {
    .empty-state {
      display: none;
    }

    &.empty {
      display: flex;
      flex: 1;
      flex-direction: column;

      &#main {
        padding-bottom: 0;
      }

      .title {
        margin-bottom: 1rem;
      }

      .empty-state {
        display: flex;
        flex: 1;
        padding: 0;

        h4 {
          margin: 3rem 0 0 0;
        }
      }

      .recordings-list {
        display: none;
      }
    }
  }
  
  .recordings-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
