.page.sites.recordings {
  .recordings-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    menu {
      align-items: center;
      display: flex;

      .menu-item {
        position: relative;

        .dropdown.open > .button {
          background: var(--gray-100);
        }

        .dropdown-menu {
          left: auto;
          right: 0;
          top: calc(100% + .5rem);
          transform: none;
        }
      }

      .dropdown {
        & > .button {
          background: none;
          border: none;
          border-radius: var(--border-radius-md);
          height: 40px;
          margin-left: .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--gray-100);
          }
  
          i {
            position: static;
  
            &:not(.arrow) {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }
          }
        }
      }

      .dropdown-menu {
        width: 210px;

        & > .button {
          color: var(--gray-800);
          height: 40px;
          margin-left: 0;
          padding: 0 .5rem;
          text-align: left;

          &.open {
            background: var(--gray-100);
          }

          i {
            color: var(--gray-800);
            font-size: 1.5rem;
          }
        }

        .popout {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
          display: none;
          padding: 1.5rem;
          position: absolute;
          right: 220px;
          top: 0;

          &.open {
            display: block;
          }

          .actions {
            display: flex;

            .button {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .filters {
    .row {
      align-items: center;
      display: flex;
      margin-bottom: 1.5rem;

      > * {
        margin: 0 .5rem 0 0;
      }

      .radio {
        margin: 0;
      }
    }

    form {
      margin: 1.5rem 0 0 0;
    }

    .filters-date {
      width: 500px;

      .select {
        min-width: 140px;
        width: auto;
      }
    }

    .search {
      margin: 0;
      position: relative;

      .input {
        margin: 0;
        padding-right: 2.5rem;
      }

      i {
        color: var(--gray-200);
        font-size: 1.25rem;
        position: absolute;
        right: .75rem;
        top: .5rem;
      }
    }

    .filters-status {
      width: 200px;

      .row {
        align-items: flex-start;
        flex-direction: column;

        .radio:not(:last-of-type) {
          margin-bottom: .5rem;
        }
      }
    }

    .filters-duration {
      width: 300px;

      .select {
        min-width: 160px;
        width: auto;
      }
    }

    .filters-pages {
      width: 300px;

      .pages {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow-y: scroll;

        .checkbox {
          margin-bottom: .5rem;

          span:not(.check) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 240px;
          }
        }
      }
    }

    .filters-device {
      width: 200px;

      .row {
        align-items: flex-start;
        flex-direction: column;

        .checkbox:not(:last-of-type) {
          margin-bottom: .5rem;
        }
      }
    }

    .filters-browsers {
      width: 200px;

      .browsers {
        align-items: flex-start;
        flex-direction: column;

        .checkbox {
          margin-bottom: .5rem;
        }
      }
    }

    .filters-viewport {
      width: 320px;

      .column {
        position: relative;

        .input {
          margin: 0;
          padding-right: 2.5rem;
        }
        
        p {
          color: var(--gray-500);
          position: absolute;
          right: .75rem;
          top: calc(100% - 2rem);
        }
      }
    }

    .filters-language {
      width: 320px;

      .languages {
        align-items: flex-start;
        flex-direction: column;
        max-height: 300px;
        overflow-y: scroll;

        .checkbox {
          margin-bottom: .5rem;
        }
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0 0 3rem 0;

    .search {
      align-items: center;
      display: flex;
      margin: 0 0 0 2rem;
      position: relative;
      width: 320px;

      .input {
        margin: 0;
        padding-right: 2.25rem;
      }

      .button {
        background: none;
        border: none;
        color: var(--gray-800);
        font-size: 1.25rem;
        padding: 0;
        position: absolute;
        right: 2.5rem;

        i {
          display: block;
        }

        &:hover {
          color: var(--blue-500);
        }
      }

      & > i {
        color: var(--gray-200);
        display: block;
        font-size: 1.5rem;
        font-weight: var(--font-weight-normal);
        position: absolute;
        right: .75rem;
      }
    }
  }

  .empty-state {
    align-items: center;
    display: none;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 11rem);
    width: 100%;

    .empty-state-contents {
      align-items: center;
      background: var(--gray-50);
      border-radius: var(--border-radius-md);
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h4 {
        margin: 3rem 0;
      }

      .message {
        max-width: 580px;
      }
    }
  }

  .empty {
    .title {
      .search {
        display: none;
      }
    }

    .empty-state {
      display: flex;
    }
  }

  .recordings-list {
    margin-bottom: 2rem;

    .row {
      grid-template-columns: 105px 1fr 1fr 1fr 1fr 1fr 2fr 1fr 90px 70px;
    }
  
    & + .button {
      display: block;
      margin: 0 auto 2rem auto;
    }
  }
  
  .recordings {
    .empty-state {
      display: none;
    }

    &.empty {
      display: flex;
      flex: 1;
      flex-direction: column;

      &#main {
        padding-bottom: 0;
      }

      .title {
        margin-bottom: 1rem;
      }

      .empty-state {
        display: flex;
        flex: 1;
        padding: 0;

        h4 {
          margin: 3rem 0 0 0;
        }
      }

      .recordings-list {
        display: none;
      }
    }
  }
  
  .recordings-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
