.page.__admin.ad-tracking {
  .admin-header {
    margin: 0 0 2rem 0;

    h4 {
      span {
        color: var(--mauve-700);
        margin: 0 0 0 1rem;
      }
    }
  }

  .content-id-form {
    display: flex;

    .input {
      margin: 0 1rem 0 0;
      width: 200px;
    }

    .tag {
      background: var(--mauve-700);
      border-color: var(--mauve-800);

      .button {
        border-color: var(--mauve-800);
      }
    }
  }

  .ad-tracking-table-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0 0;
  }
}
