.page.__admin.ad-tracking {
  .admin-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;

    h4 {
      span {
        color: var(--mauve-700);
        margin: 0 0 0 1rem;
      }
    }

    menu {
      align-items: center;
      display: flex;
      margin: 0;
      padding: 0;

      .columns {
        margin: 0 1rem 0 0;

        .dropdown-menu {
          width: 240px;
        }
      }
    }
  }

  .content-id-form {
    display: flex;

    .input {
      margin: 0 1rem 0 0;
    }
  }

  .ad-tracking-table {
    .row {
      grid-template-columns: repeat(15, 1fr);
    }

    .sort {
      position: relative;
      z-index: 1;
    }
  }

  .ad-tracking-table-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0 0;
  }
}
