.create-blog-post {
  margin: 2rem 0 0 0;

  .grid { 
    .toggle {
      margin: 0 0 1.5rem 0;
    }

    form {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 3fr 1fr;
    }
  }

  .upload-image {
    color: var(--mauve-700);
    font-weight: var(--font-weight-normal);
    text-decoration: underline;

    .input {
      display: none;
    }

    &.loading {
      color: var(--gray-500);
      pointer-events: none;
      text-decoration: none;
    }
  }

  .images {
    background: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: var(--border-radius-controls);
    margin: 0 0 1.5rem 0;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .5rem;

    .image-container {
      align-items: center;
      display: flex;
      margin: 0 0 .5rem 0;

      &:focus {
        outline: none;
      }

      .check {
        display: none;
      }

      img {
        display: block;
        height: 3rem;
        object-fit: cover;
        width: 5.5rem;
      }

      .content {
        display: flex;
        flex-direction: column;

        .detail {
          background: none;
          border: none;
          color: var(--gray-500);
          display: inline-block;
          font-size: var(--font-size-body-sm);
          font-weight: var(--font-weight-normal);
          line-height: var(--line-height-body-sm);
          margin: 0;
          max-width: 15rem;
          overflow: hidden;
          padding: 0;
          text-overflow: ellipsis;
          white-space: nowrap;

          b {
            color: var(--gray-blue-800);
          }

          &.copy {
            margin: .25rem 0 0 0;
            position: relative;

            .copy-to-clipboard {
              background: var(--white);
              display: none;
              font-size: var(--font-size-body);
              right: 0;
              padding: 0 0 0 .5rem;
              position: absolute;
              top: 0;

              &:hover {
                color: var(--mauve-700);
              }
            }

            &:hover {
              .copy-to-clipboard {
                display: block;
              }
            }
          }
        }
      }
    }

    .image {
      margin: 0 .5rem 0 0;
      position: relative;

      .clip {
        border: 2px solid transparent;
        border-radius: var(--border-radius-md);
        overflow: hidden;
      }

      .delete-image {
        align-items: center;
        background: var(--rose-500);
        border: none;
        border-radius: var(--border-radius-o);
        color: var(--white);
        display: none;
        justify-content: center;
        height: 1.5rem;
        padding: 0;
        position: absolute;
        right: -.5rem;
        top: -.5rem;
        width: 1.5rem;
      }

      &:hover {
        .delete-image {
          display: flex;
        }
      }
    }

    .show-more {
      align-items: center;
      background: none;
      border: none;
      color: var(--mauve-700);
      display: flex;
      font-weight: var(--font-weight-normal);
      justify-content: center;
      text-align: center;
      text-decoration: underline;
      width: 100%;
    }
  }

  .left {
    display: flex;
    flex-direction: column;

    .edit-body {
      flex: 1;
      margin: 0;
    }
  }

  .right {
    .radio-group {
      display: flex;
      margin: 0 0 1.5rem 0;

      .radio {
        margin: 0 1rem 0 0;
      }
    }
  }

  .code {
    border: 1px solid var(--gray-200);
    height: 500px;
    position: relative;

    &:focus-within {
      border-color: var(--blue-500);
    }

    code {
      display: block;
      height: 500px;
      padding: 2rem;
    }

    .dragging {
      align-items: center;
      background: rgba(255, 255, 255, 0.8);
      color: var(--gray-blue-800);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      .icon {
        font-size: var(--font-size-body-xl);
        margin: 0 0 1rem 0;
      }
    }
  }

  .hint {
    justify-content: flex-start;

    i {
      color: var(--gray-500);
      font-size: var(--font-size-body-sm);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body-sm);
      margin: 0 0 0 .5rem;
    }
  }
}
