.create-blog-post {
  .grid {
    .toggle {
      margin: 0 0 1.5rem 0;
    }
  }

  .input-group {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1.5rem 0;

    .image-container {
      height: 6rem;
      margin: 0 1rem 1rem 0;
      width: 10rem;

      &:focus {
        outline: none;
      }

      .check {
        display: none;
      }

      img {
        display: block;
        height: 6rem;
        object-fit: cover;
        width: 10rem;
      }

      &.selected,
      &:hover {
        .clip {
          border: 2px solid var(--blue-500);
        }
      }

      &.upload {
        align-items: center;
        display: flex;
        justify-content: center;

        .input {
          display: none;
        }

        .icon {
          color: var(--blue-500);
          font-size: var(--font-size-body-xl);
          margin: 0;
        }
      }
    }

    .image {
      position: relative;

      .clip {
        border: 2px solid transparent;
        border-radius: var(--border-radius-md);
        overflow: hidden;
      }

      .delete-image {
        align-items: center;
        background: var(--rose-500);
        border: none;
        border-radius: var(--border-radius-o);
        color: var(--white);
        display: none;
        justify-content: center;
        height: 1.5rem;
        padding: 0;
        position: absolute;
        right: -.5rem;
        top: -.5rem;
        width: 1.5rem;
      }

      &:hover {
        .delete-image {
          display: flex;
        }
      }
    }
  }

  .code {
    border: 1px solid var(--gray-200);
    height: 500px;
    position: relative;

    &:focus-within {
      border-color: var(--blue-500);
    }

    code {
      display: block;
      height: 500px;
      padding: 2rem;
    }

    .dragging {
      align-items: center;
      background: rgba(255, 255, 255, 0.8);
      color: var(--gray-blue-800);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      .icon {
        font-size: var(--font-size-body-xl);
        margin: 0 0 1rem 0;
      }
    }
  }

  .hint {
    justify-content: flex-start;

    i {
      color: var(--gray-500);
      font-size: var(--font-size-body-sm);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body-sm);
      margin: 0 0 0 .5rem;
    }
  }

  .rich-text-wrapper {
    border: none;
    margin: 0 0 2rem 0;
    position: relative;
    z-index: 0;

    .rich-text-toolbar {
      border: none;
      margin: 0 0 1rem 0;
      padding: 0;

      & > div {
        margin: 0 1rem 0 0;

        &:nth-of-type(2),
        &:nth-of-type(5) {
          display: none;
        }

        &:nth-of-type(6) {
          span {
            span {
              border: 1px solid var(--gray-200);
              border-radius: var(--border-radius-sm);
              height: 2rem;
            }
          }
        }

        div:first-child > button {
          border-top-left-radius: var(--border-radius-sm);
          border-bottom-left-radius: var(--border-radius-sm);
        }

        div:last-child > button {
          border-top-right-radius: var(--border-radius-sm);
          border-bottom-right-radius: var(--border-radius-sm);
        }

        button {
          background: none;
          border-color: var(--gray-200);
          border-style: solid;
          height: 2rem;
          width: 2rem;

          &[class*="isActive"] {
            background: var(--gray-200);
          }
        }
      }
    }

    .upload {
      align-items: center;
      background: none;
      border: 1px solid var(--gray-200);
      border-radius: var(--border-radius-sm);
      cursor: pointer;
      display: inline-flex;
      height: 2rem;
      justify-content: center;
      padding: 0;
      width: 2rem;

      .input {
        display: none;
      }

      .icon {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-normal);
      }
    }
  }
}
