#app-sidebar {
  background: var(--white);
  border-right: 1px solid var(--gray-150);
  flex-direction: row;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: width .3s ease-in-out;
  width: 80px;
  z-index: 1;

  @include breakpoint-md {
    border-bottom: 1px solid var(--gray-150);
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
  }

  .logo {
    margin: 0 auto;

    &.large {
      display: none;
    }

    &.small {
      display: block;
    }

    @include breakpoint-md {
      margin: 0;
    }
  }

  .menu-toggle {
    align-items: center;
    display: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    @include breakpoint-md {
      background: none;
      border: none;
      display: flex;
      font-size: 1.5rem;
    }
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .link {
    align-items: center;
    background: var(--white);
    border-radius: var(--border-radius-md);
    color: var(--gray-700);
    display: flex;
    font-weight: var(--font-weight-bold);
    height: 3rem;
    justify-content: center;
    margin-bottom: .5rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%;

    i {
      color: var(--gray-200);
      display: block;
      font-size: 1.5rem;
      font-weight: var(--font-weight-normal);
      margin: 0;
    }

    span {
      display: none;
      flex: 1;
      white-space: nowrap;
    }

    .arrow {
      color: var(--gray-500);
      display: none;
      margin: 0;
      transition: transform .3s ease-in-out;
    }

    &:after {
      background: var(--gray-800);
      border-radius: var(--border-radius-md);
      color: var(--white);
      content: attr(data-label);
      display: none;
      font-size: 13px;
      line-height: 20px;
      left: calc(100% + 2rem);
      padding: .25rem .5rem;
      position: absolute;
      white-space: nowrap;
    }

    &:hover {
      background: var(--gray-50);

      &:after {
        display: block;
      }
    }

    &.active,
    &.active i {
      color: var(--blue-500);
    }

    &.account,
    &.feedback {
      flex-direction: column;

      .button {
        align-items: center;
        background: none;
        border: none;
        color: var(--gray-700);
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: left;
        padding: 0;
        width: 100%;
      }
    } 

    &.account {
      .items {
        background: var(--white);
        border-radius: var(--border-radius-md);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
        display: none;
        left: calc(100% + 2rem);
        top: 0;
        padding: .5rem;
        position: absolute;
        width: 180px;

        .button {
          border-radius: var(--border-radius-md);
          color: var(--gray-800);
          font-weight: var(--font-weight-normal);
          margin: 0;
          padding: .5rem .75rem;

          &:hover {
            background: var(--gray-50);
            color: var(--gray-700);
          }

          &.active {
            color: var(--blue-500);
          }
        }
      }

      &.open {
        background: var(--gray-50);

        &:after {
          display: none;
        }
  
        .items {
          display: block;

          .button {
            justify-content: flex-start;
          }
        }

        .arrow {
          transform: rotate(180deg);
        }
      }
    }
  }

  .divider {
    margin: 1rem 0;
  }

  menu {
    flex: 1;
    margin: 0;
    padding: 2rem 0;
    width: 100%;

    .slider {
      background: none;
      display: flex;
      height: auto;
      margin: 0;
      transition: transform .3s ease-in-out;
      width: 200%;

      .nav {
        width: 50%;
      }
    }

    .left {
      opacity: 1;
      pointer-events: all;
      transition: opacity .1s ease-in-out;
      transition-delay: .2s;
    }

    .right {
      opacity: 0;
      pointer-events: none;
      transition: opacity .1s ease-in-out;
      transition-duration: 0;
    }

    &.right {
      .slider {
        transform: translateX(-47px);

        .left {
          opacity: 0;
          pointer-events: none;
          transition-delay: 0;
          transition-duration: 0;
        }
    
        .right {
          opacity: 1;
          pointer-events: all;
          transition-delay: .2s;
        }
      }
    }
  }

  menu {
    @include breakpoint-md {
      display: none;
      padding: 0;
    }
  }

  footer {
    .link {
      justify-content: center;
      margin-bottom: 0;

      span {
        text-align: left;
      }

      i {
        color: var(--gray-200);
        transition: transform .3s ease-in-out;
      }
    }

    @include breakpoint-md {
      display: none;
    }
  }

  &.open {
    overflow: hidden;
    width: 240px;

    @include breakpoint-md {
      width: 100%;
    }

    .logo {
      height: 32px;
      margin: 0 1rem;
      width: 103px;

      &.large {
        display: block;
      }
  
      &.small {
        display: none;
      }

      @include breakpoint-md {
        margin: 0;

        &.large {
          display: none;
        }

        &.small {
          display: block;
        }
      }
    }

    .icon {
      margin: 0 1rem 0 0;
    }

    .link {    
      padding: .75rem 1rem;
      width: 207px;

      i:not(.arrow) {
        margin-right: 1rem;
      }

      span {
        display: inline-block;

        &.alpha {
          align-items: center;
          background: var(--blue-500);
          border-radius: var(--border-radius-sm);
          color: var(--white);
          display: flex;
          font-size: 10px;
          justify-content: center;
          line-height: 11px;
          margin-left: .5rem;
          padding: .15rem;
        }
      }

      .arrow {
        display: block;
      }

      &:hover {
        &:after {
          display: none;
        }
      }

      &.account {
        height: auto;

        .items {
          background: transparent;
          box-shadow: none;
          padding: 1.5rem 0 .75rem 2.5rem;
          position: static;
          width: 100%;

          .button {
            color: var(--gray-700);
            font-size: 13px;
            font-weight: var(--font-weight-normal);
            line-height: 20px;
            margin-bottom: .75rem;
            padding: 0;

            &.active {
              color: var(--blue-500);
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    menu {
      &.left {
        @include breakpoint-md {
          .slider {
            padding: 2rem;
            width: 100%;
          }

          .right {
            display: none;
          }
        }
      }

      &.right {
        .slider {
          transform: translateX(-207px);

          @include breakpoint-md {
            padding: 2rem;
            transform: translateX(0);
            width: 100%;
          }
        }

        @include breakpoint-md {
          .left {
            display: none;
          }
        }
      }

      @include breakpoint-md {
        background: var(--white);
        display: flex;
        height: calc(100% - 4rem);
        position: fixed;
        right: 0;
        top: calc(4rem + 1px);
        z-index: 10;

        .slider {
          .nav {
            width: 100%;

            .link {
              width: 100%;
            }
          }
        }
      }
    }

    footer { 
      .link {
        justify-content: flex-start;

        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  #main {
    flex: 1;
  }
}
