#app-sidebar {
  background: var(--white);
  border-right: 1px solid var(--gray-150);
  flex-direction: row;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: width .3s ease-in-out;
  width: 80px;

  .logo {
    display: block;
    margin: 0 auto;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .link {
    align-items: center;
    background: var(--white);
    border-radius: var(--border-radius-md);
    color: var(--gray-700);
    display: flex;
    font-weight: var(--font-weight-bold);
    height: 3rem;
    justify-content: center;
    margin-bottom: .5rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%;

    i {
      color: var(--gray-200);
      display: block;
      font-size: 1.5rem;
      font-weight: var(--font-weight-normal);
      margin: 0;
    }

    span {
      display: none;
      flex: 1;
      white-space: nowrap;
    }

    .arrow {
      color: var(--gray-500);
      display: none;
      margin: 0;
      transition: transform .3s ease-in-out;
    }

    &:after {
      background: var(--gray-800);
      border-radius: var(--border-radius-md);
      color: var(--white);
      content: attr(data-label);
      display: none;
      font-size: 13px;
      line-height: 16px;
      left: calc(100% + 2rem);
      padding: .25rem .5rem;
      position: absolute;
      white-space: nowrap;
    }

    &:hover {
      background: var(--gray-100);

      &:after {
        display: block;
      }
    }

    &.active,
    &.active i {
      color: var(--blue-500);
    }

    &.account,
    &.feedback {
      flex-direction: column;

      .button {
        align-items: center;
        background: none;
        border: none;
        color: var(--gray-700);
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: left;
        padding: 0;
        width: 100%;
      }

      .items {
        display: none;
        padding: 1.5rem 0 0 2.5rem;
        width: 100%;

        .button {
          color: var(--gray-700);
          font-weight: var(--font-weight-normal);
          margin-bottom: .5rem;
          
          &.active {
            color: var(--blue-500);
          }
        }
      }

      &.open {
        height: auto;
  
        .items {
          display: block;

          .button {
            justify-content: flex-start;
          }
        }

        .arrow {
          transform: rotate(180deg);
        }
      }
    }
  }

  .divider {
    margin: 1rem 0;
  }

  menu {
    flex: 1;
    margin: 0;
    padding: 2rem 0;
    width: 100%;

    .slider {
      background: none;
      display: flex;
      height: auto;
      margin: 0;
      transition: transform .3s ease-in-out;
      width: 200%;

      .nav {
        width: 50%;
      }
    }

    .left {
      opacity: 1;
      pointer-events: all;
      transition: opacity .1s ease-in-out;
      transition-delay: .2s;
    }

    .right {
      opacity: 0;
      pointer-events: none;
      transition: opacity .1s ease-in-out;
      transition-duration: 0;
    }

    &.right {
      .slider {
        transform: translateX(-47px);

        .left {
          opacity: 0;
          pointer-events: none;
          transition-delay: 0;
          transition-duration: 0;
        }
    
        .right {
          opacity: 1;
          pointer-events: all;
          transition-delay: .2s;
        }
      }
    }
  }

  footer {
    .link {
      justify-content: center;
      margin-bottom: 0;

      span {
        text-align: left;
      }

      i {
        color: var(--gray-200);
        transition: transform .3s ease-in-out;
      }
    }
  }

  &.open {
    width: 240px;

    .logo {
      height: 32px;
      margin: 0 1rem;
      width: 103px;
    }

    .icon {
      margin: 0 1rem 0 0;
    }

    .link {    
      padding: .75rem 1rem;
      width: 207px;

      i {
        margin-right: 1rem;
      }

      span {
        display: inline-block;
      }

      .arrow {
        display: block;
      }

      &:hover {
        &:after {
          display: none;
        }
      }
    }

    menu {
      &.right {
        .slider {
          transform: translateX(-207px);
        }
      }
    }

    footer { 
      .link {
        justify-content: flex-start;

        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  #main {
    flex: 1;
  }
}
