.page.__admin {
  background: var(--gray-50);

  a, .button.link {
    color: var(--mauve-700);
  }

  .button {
    &.primary {
      background: var(--mauve-700);
      border-color: var(--mauve-700);
      color: var(--white);
    }
  }

  .button-group {
    border-color: var(--mauve-700);

    .button {
      &.primary {
        border-color: var(--white);
      }
    }
  }

  .tab-header {
    .button {
      &.active::after,
      &:hover:after {
        background: var(--mauve-700);
      }
    }
  }
  
  .admin-indicator {
    color: var(--peach-200);
    font-size: var(--font-size-body-x-sm);
    position: absolute;
    right: 1.5rem;
    top: 1.65rem;

    @include breakpoint-md {
      display: none;
    }
  }

  #app-sidebar {
    background: var(--mauve-900);

    .menu-toggle {
      .icon {
        color: var(--peach-100);
      }
    }

    .link {
      background: var(--mauve-900);
      color: var(--peach-100);

      &:hover {
        background: var(--mauve-800);
      }

      &.active {
        background: var(--mauve-800);
        color: var(--white);

        .icon {
          color: var(--peach-100);
        }
      }

      .icon {
        color: var(--peach-300);
      }

      .external {
        color: var(--mauve-400);
        display: none;
        margin: 0;
      }
    }

    .divider {
      background: var(--mauve-800);
    }

    footer {
      .link {
        border-color: var(--mauve-800);

        &:hover {
          border-color: var(--peach-300);
        }
      }
    }

    &.open {
      .link {
        .external {
          display: block;
        }
      }

      menu {
        @include breakpoint-md {
          background: var(--mauve-900);
        }
      }
    }
  }

  .breadcrumbs {
    a {
      color: var(--mauve-700);
    }
  }

  .admin-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .search {
      align-items: center;
      display: flex;

      .title {
        margin: 0 2rem 0 0;
      }

      .link {
        margin: 0 0 0 1rem;
      }

      .search-input {
        margin: 0;
        width: 18rem;
      }
    }

    menu {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      position: relative;
  
      .input {
        margin: 0;
        max-width: 320px;
      }
  
      .dropdown {
        & > .button {
          background: none;
          border: none;
          border-radius: var(--border-radius-md);
          height: 2rem;
          margin-left: .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--peach-100);
          }
  
          i {
            position: static;
  
            &:not(.arrow) {
              color: var(--mauve-700);
              font-size: var(--font-size-body-lg);
              margin-right: .5rem;
            }
          }
        }
      }
  
      .dropdown-menu {
        left: auto;
        margin: 3rem 0 0 0;
        right: 0;
        transform: none;
        width: 240px;
      }
  
      .filters-columns {
        padding: .5rem;
  
        .checkbox {
          margin-bottom: .5rem;
  
          &:last-of-type {
            margin-bottom: 0;
          }
        }
  
        .label {
          .link {
            color: var(--blue-700);
            margin-left: .25rem;
            vertical-align: middle;
          }
        }
      }
  
      .dropdown-menu {
        width: 230px;
  
        & > .button {
          color: var(--body-color);
          height: 2rem;
          margin-left: 0;
          padding: 0 .5rem;
          text-align: left;
  
          &.open {
            background: var(--gray-100);
          }
  
          i {
            color: var(--body-color);
            font-size: var(--font-size-body-xl);
          }
        }
  
        .popout {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: var(--box-shadow-sm);
          display: none;
          padding: 1rem;
          position: absolute;
          right: 220px;
          top: 0;
  
          &.open {
            display: block;
          }
  
          .actions {
            display: flex;
  
            .button {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }

      @include breakpoint-sm {
        display: none;
      }
    }

    @include breakpoint-md {
      .search {
        .input {
          display: none;
        }
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;

    menu {
      align-items: center;
      display: flex;
      margin: 0;
      padding: 0;

      .button:first-of-type {
        margin: 0 .75rem 0 0;
      }
    }

    @include breakpoint-sm {
      align-items: flex-start;
    }
  }

  .no-search-results {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    .empty-state {
      display: flex;
    }
  }

  h3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;

    a {
      align-items: center;
      display: flex;
      font-size: var(--font-size-body);
      text-decoration: none;

      .icon {
        margin-left: .25rem;
      }
    }

    div {
      align-items: center;
      display: flex;

      p {
        margin: 0;
      }

      .divider {
        background: var(--gray-300);
        height: 1rem;
        margin: 0 1rem 0 1rem;
        width: 1px;
      }
    }

    @include breakpoint-sm {
      align-items: flex-start;
      flex-direction: column;

      div {
        margin-top: 1rem;
      }
    }
  }

  .table {
    margin-top: 2rem;

    .pill {
      text-decoration: none;
    }

    .dropdown {
      .options {
        align-items: center;
        background: none;
        border: none;
        border-radius: var(--border-radius-o);
        display: flex;
        height: 2rem;
        flex-shrink: 0;
        font-size: var(--font-size-body-lg);
        justify-content: center;
        padding: 0;
        width: 2rem;
  
        .arrow {
          display: none;
        }
  
        &:hover {
          background: var(--gray-100);
          color: var(--blue-500);
        }
      }
  
      .dropdown-menu {
        z-index: 2;
  
        .button {
          background: none;
          border: none;
  
          i {
            color: var(--blue-500);
            font-size: var(--font-size-body-lg);
            margin-right: .5rem;
          }
  
          &:hover {
            background: var(--gray-100);
          }
        }
      }
    }
  }

  .card {
    margin: 2rem 0 0 0;

    h5 {
      margin: 0 0 1rem 0;
    }
  }

  .chart-wrapper {
    height: 250px;

    svg {
      overflow: visible;
    }

    @include breakpoint-md {
      height: 10rem;
    }
  }

  .users-table {
    min-width: 1024px;

    .row {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4rem;
    }
  }

  .sites-table {
    min-width: 1024px;

    .row {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4rem;
    }
  }

  .chart-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;

    .options {
      display: flex;

      .label {
        margin: 0 1.5rem 0 0;
      }

      .checkbox:last-of-type {
        margin-right: 0;
      }
    }

    @include breakpoint-md {
      .options {
        display: none;
      }
    }
  }
}
