.page.developers {
  .hero {
    text-align: center;
    padding: 8rem 0 5rem 0;

    h1 {
      margin: 4rem 0 3rem 0;
    }

    p {
      margin: 0;
    }
  }

  .tabs {
    margin: 2rem 0 0 0;

    .code {
      margin-bottom: 0;
    }
  }

  .filename {
    align-items: center;
    display: flex;

    i {
      font-size: 1.25rem;
      margin-right: .5rem;
    }
  }
}
