.page.partners {
  h5 {
    margin: 0 0 1.5rem 0;

    .button {
      margin: 0 0 0 1rem;
    }
  }

  .referrered-sites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
    flex: 1;
    margin: 1.5rem 0 2rem 0;
    overflow: auto;

    .col {
      background: var(--gray-100);
      border-radius: var(--border-radius-md);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: .75rem .5rem;

      p {
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
      }

      .heading {
        color: var(--gray-500);
        font-size: var(--font-size-body-sm);
        flex-shrink: 0;
        justify-content: center;
        line-height: var(--line-height-body-sm);
        margin: 0 0 .75rem 0;
        text-align: center;
      }
    }

    .referred-site {
      background: var(--white);
      border: 1px solid var(--rose-500);
      border-radius: var(--border-radius-md);
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: 1rem 1fr 1.5rem;
      margin: 0 0 .5rem 0;
      padding: 1rem;

      p {
        font-weight: var(--font-weight-medium);
        margin: 0 0 .5rem 0;

        &.url {
          color: var(--gray-300);
          font-weight: var(--font-weight-normal);
          margin: 0 0 .5rem 0;
        }
      }

      .icon {
        color: var(--mauve-700);
      }

      .dropdown {
        .options {
          align-items: center;
          background: none;
          border: none;
          border-radius: var(--border-radius-o);
          display: flex;
          height: 1.5rem;
          flex-shrink: 0;
          font-size: var(--font-size-body-lg);
          justify-content: center;
          padding: 0;
          width: 1.5rem;
    
          .arrow {
            display: none;
          }
    
          &:hover {
            background: var(--gray-100);
            color: var(--blue-500);
          }
        }
      }    

      .tag {
        border: none;
        border-radius: var(--border-radius-sm);
        margin: 0 0 .5rem 0;

        &.verified {
          background: var(--blue-50);

          span {
           color: var(--gray-blue-300);
           font-weight: var(--font-weight-medium);
          }
        }

        &.unverified {
          background: var(--peach-200);

          span {
           color: var(--rose-500);
           font-weight: var(--font-weight-medium);
          }
        }

        span {
          padding: .125rem .5rem;
        }
      }

      & *:last-child {
        margin: 0;
      }

      &.lead {
        align-items: center;
        padding: .5rem 1rem;
      }

      &.paid {
        border-color: var(--green-500);
      }
    }
  }

  .revenue {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    .stats {
      display: flex;

      h3 {
        color: var(--gray-500);
        display: block;
        flex: 1;
        margin: 0;

        i {
          display: block;
          font-size: var(--font-size-body);
          font-weight: var(--font-weight-normal);
          line-height: var(--line-height-body);
        }
      }

      &.mauve {
        h3 {
          color: var(--mauve-500);
        }
      }
    }
  }
}
