.page.sites.events {
  .events-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    white-space: nowrap;

    @include breakpoint-md {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 1.5rem;
    }

    menu {
      align-items: center;
      display: flex;
      margin: 0;
      padding: 0;
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;

    @include breakpoint-md {
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }

    .event-create {
      margin: 0 0 0 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .empty {
    .empty-state {
      display: flex;
    }
  }

  .getting-started {
    .card {
      box-shadow: none;
      margin: 4rem 0 0 0;
    }

    h4 {
      align-items: center;
      display: flex;
      margin: 0 0 1.5rem 0;

      .icon {
        color: var(--blue-500);
        font-size: 1.25rem;
        margin: 0 .5rem 0 0;
      }
    }

    h5 {
      margin: .5rem 0 1rem 0;
    }

    .cols {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  .events-table {
    margin: 0 0 2rem 0;

    .row {
      grid-template-columns: 58px 1fr 1fr 1fr 1fr 70px;

      .spinner {
        margin: 0;

        .icon {
          font-size: 1rem;
          height: 1rem;
          line-height: 1rem;
          margin: 0;
          width: 1rem;
        }

        p {
          display: none;
        }
      }

      .event-tag {
        margin: 0;
      }
    }

    .dropdown {
      .options {
        align-items: center;
        background: none;
        border: none;
        border-radius: var(--border-radius-o);
        display: flex;
        height: 2rem;
        flex-shrink: 0;
        font-size: 1.25rem;
        justify-content: center;
        padding: 0;
        width: 2rem;
  
        .arrow {
          display: none;
        }
  
        &:hover {
          background: var(--gray-100);
          color: var(--blue-500);
        }
      }
    }
  }

  .event-captures-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include breakpoint-sm {
      flex-direction: column;

      .rc-pagination {
        margin: .5rem 0 0 0;
      }

      .page-size {
        display: none;
      }
    }
  }

  .bulk-actions {
    display: flex;
    justify-content: flex-end;
    margin: 0 .5rem 0 0;

    @include breakpoint-md {
      display: none;
    }

    .dropdown {
      & > .button {
        background: none;
        border: none;
        border-radius: var(--border-radius-md);
        display: flex;
        font-weight: var(--font-weight-bold);
        height: 2.5rem;
        padding: .5rem 1rem .5rem 1rem;

        i:not(.arrow) {
          color: var(--blue-500);
          font-size: 1.25rem;
          margin-right: .5rem;
        }

        &:hover {
          background: var(--gray-100);
        }

        .arrow {
          position: static;
          right: .5rem;
          top: .5rem;
        }
      }

      &.tooltip {
        cursor: default;
        opacity: 0.25;
      }

      &.open {
        & > .button {
          background: var(--gray-100);
        }
      }
    }

    .dropdown-menu {
      transform: translate(0, 3rem); 
    }
  }

  .event-group {
    background: var(--gray-100);
    border-radius: var(--border-radius-md);
    margin: 0 0 .75rem 0;
    padding: 1rem;
    position: relative;

    .heading {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      text-align: left;
      width: 100%;

      .icon {
        font-size: 1.5rem;
        margin: 0 .75rem 0 0;
      }

      span {
        font-weight: var(--font-weight-normal);
        margin: 0 0 0 .5rem;
      }
    }

    .actions {
      align-items: center;
      display: none;
      position: absolute;
      top: .75rem;
      right: 1rem;

      .button {
        align-items: center;
        background: var(--gray-50);
        border: none;
        border-radius: var(--border-radius-md);
        display: flex;
        font-weight: var(--font-weight-bold);
        height: 2.5rem;
        margin: 0 0 0 .5rem;
        padding: 0 1rem;

        &:hover {
          background: var(--gray-150);
        }

        .icon {
          font-size: 1.25rem;
          font-weight: var(--font-weight-normal);
          margin: 0 .5rem 0 0;
        }
      }

      .group-delete {
        .icon {
          color: var(--rose-500);
        }
      }
    }

    .items {
      display: none;
      
      .events-table {
        margin: 1.5rem 0 0 0;
      }
    }

    &.open {
      .items {
        display: block;
      }

      .actions {
        display: flex;
      }
    }
  }
}

.event-create-modal {
  .input-group {
    align-items: center;
    display: flex;
    margin: 0 0 1.5rem 0;
    width: 100%;

    .select, .input {
      margin: 0;
    }

    div:first-of-type {
      margin: 0 1rem 0 0;
      width: 10rem;
    }

    div:last-of-type {
      flex: 1;
    }
  }

  .label + p {
    color: var(--gray-500);
    margin: 0 0 .5rem 0;
  }
}

.bulk-action-hint {
  white-space: pre-wrap;
}
