html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px dashed var(--gray-800);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.page {
  overflow-y: auto;
}