:root {
  // Colors
  --white: #ffffff;
  --black: #000000;
  --gray-900: #121212;
  --gray-800: #222222;
  --gray-700: #4D4D4D;
  --gray-500: #707070;
  --gray-200: #BFBFBF;
  --gray-150: #D7D7D7;
  --gray-100: #F2F2F2;
  --gray-50: #FBFBFB;
  --blue-700: #005EB6;
  --blue-500: #0074E0;
  --blue-300: #4097E8;
  --yellow-500: #FDE50B;
  --magenta-500: #F0438C;
  --green-500: #2CE21C;
  --orange-500: #FF8A00;

  // Font weights
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-block: 800;

  // Borders
  --border-radius-sm: .25rem;
  --border-radius-md: .5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;
  --border-radius-c: 50%;
  --border-radius-o: 100%;
}
