.page.sites.visitor {
  .page-loading {
    height: calc(100vh - 4rem);
  }

  .visitor-view {
    .title {
      justify-content: space-between;
      margin-bottom: 2rem;

      menu {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;

        .button:first-of-type {
          margin-right: .75rem;
        }
      }

      @include breakpoint-sm {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 1rem;
      }

      .delete-visitor {
        &:not(.tertiary) {
          align-items: center;
          background: none;
          border: none;
          border-radius: var(--border-radius-o);
          display: flex;
          justify-content: center;
          height: 2rem;
          margin-left: .75rem;
          width: 2rem;

          i {
            color: var(--rose-500);
            font-size: var(--font-size-body-lg);
            margin: 0;
          }

          span {
            display: none;
          }

          &:hover {
            background: var(--gray-100);
          }
        }
      }
    }
    
    .recordings-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 2rem 0 1.5rem 0;

      h4 {
        margin: 0;
      }

      menu {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
      }

      .dropdown-menu {
        left: auto;
        right: 0;
        top: calc(100% + .5rem);
        transform: none;
      }

      .dropdown {
        & > .button {
          background: none;
          border: none;
          border-radius: var(--border-radius-controls);
          font-weight: var(--font-weight-semibold);
          height: 2rem;
          margin-left: .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--gray-100);
          }
  
          i {
            position: static;
  
            &:not(.arrow) {
              color: var(--blue-500);
              font-size: var(--font-size-body-lg);
              margin-right: .5rem;
            }
          }
        }
      }

      .tooltip {
        cursor: default;
        opacity: .25;
      }

      .columns {
        @include breakpoint-md {
          display: none;
        }

        .dropdown-menu {
          width: 240px;
        }

        .filters-columns {
          padding: .5rem;

          .checkbox {
            margin-bottom: .5rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .label {
            .link {
              color: var(--blue-700);
              margin-left: .25rem;
              vertical-align: middle;
            }
          }
        }
      }

      .dropdown-menu {
        width: 210px;

        & > .button {
          color: var(--body-color);
          height: 2rem;
          margin-left: 0;
          padding: 0 .5rem;
          text-align: left;

          &.open {
            background: var(--gray-100);
          }

          i {
            color: var(--body-color);
            font-size: var(--font-size-body-xl);
          }
        }

        .popout {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: var(--box-shadow-sm);
          display: none;
          padding: 1rem;
          position: absolute;
          right: 220px;
          top: 0;

          &.open {
            display: block;
          }

          .actions {
            display: flex;

            .button {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }      

      .bulk-actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        @include breakpoint-md {
          display: none;
        }
    
        .dropdown {
          & > .button {
            background: none;
            border: none;
            border-radius: var(--border-radius-md);
            padding: .5rem 1rem .5rem 1rem;
    
            i:not(.arrow) {
              color: var(--blue-500);
              font-size: var(--font-size-body-lg);
              margin-right: .5rem;
            }

            &:hover {
              background: var(--gray-100);
            }
    
            .arrow {
              right: .5rem;
              top: .5rem;
            }
          }
    
          &.open {
            & > .button {
              background: var(--gray-100);
            }
          }
        }
      }
    }

    .tabs {
      .tab-body {
        padding-top: 0;
      }

      .rc-pagination {
        margin: 1.5rem 0 0 0;
      }
    }

    .event-table.event-feed {
      .table {
        .row {
          grid-template-columns: repeat(6, 1fr);
          height: 3rem;

          .event-tag {
            margin: 0;
          }

          .recording-starred {
            .icon {
              color: var(--gray-blue-100);
              margin: 0 .25rem 0 0;
              vertical-align: middle;
            }
        
            .active .icon {
              color: var(--purple-500);
            }
          }
  
          .event-data {
            .tooltip {
              display: inline-flex;
              width: 100%;
  
              .button {
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .summary {
      font-size: var(--font-size-body-sm);
      line-height: var(--line-height-body-sm);
      margin: 0 0 2rem 0;
      padding: 1.5rem;

      @include breakpoint-sm {
        background: none;
        box-shadow: none;
        padding: 0;
      }

      .summary-data {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas: 'linked default';
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint-lg {
          grid-template-areas: 'linked'
                               'default';
          grid-template-columns: 1fr;
        }

        @include breakpoint-sm {
          grid-gap: 1rem;
        }

        .linked {
          background: var(--gray-50);
          border-radius: var(--border-radius-md);
          grid-area: linked;
          padding: 1.5rem;

          @include breakpoint-sm {
            background: var(--gray-100);
            padding: 1rem;
          }

          .heading {
            align-items: center;
            display: flex;
            font-weight: var(--font-weight-medium);

            i {
              color: var(--blue-500);
              font-size: var(--font-size-body-lg);
              font-weight: var(--font-weight-normal);
              margin-right: .5rem;
            }
          }

          p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        .flag {
          margin-right: 0;
        }

        .default {
          grid-area: default;
          margin-top: .5rem;

          @include breakpoint-sm {
            background: var(--white);
            border-radius: var(--border-radius-md);
            box-shadow: var(--box-shadow-md);
            padding: 1rem;
          }
        }

        .attributes {
          margin-top: 1.5rem;
        }

        .row {
          display: flex;
          justify-content: space-between;
          height: 1rem;
          margin: 0 0 1rem 0;

          @include breakpoint-sm {
            height: auto;
            flex-direction: column;
            justify-content: flex-start;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          dt {
            font-weight: var(--font-weight-medium);
          }

          dd {
            align-items: center;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;


            @include breakpoint-sm {
              margin: .25rem 0 0 0;
            }
          }

          .pill {
            display: inline-block;
            margin-left: .5rem;
            width: 70px;
          }

          .device {
            font-size: var(--font-size-body-lg);
          }

          .browser {
            display: inline-block;
            height: 1rem;
            margin-right: .5rem;
          }
        }

        .tooltip {
          .button {
            color: var(--blue-700);
            font-size: var(--font-size-body-sm);
            line-height: var(--line-height-body-sm);
            text-decoration: underline;
          }
        }
      }
    }

    .visitor-recordings-table {
      margin-bottom: 2rem;

      .row {
        grid-template-columns: 58px 105px 165px 1fr 1fr 1fr 1fr 2fr 1fr 90px 4rem;

        .linked i {
          color: var(--blue-500);
          display: inline-block;
          font-size: var(--font-size-body);
          margin-right: .25rem;
          vertical-align: middle;
        }

        .upgrade-plan {
          i {
            color: var(--gray-500);
            margin: 0 .25rem 0 0;
          }
        }
      }
    }

    .visitors-recordings-small {
      display: flex;
      flex-direction: column;
  
      .card {
        color: var(--gray-blue-800);
        margin: 0 0 1rem 0;
        padding: 1rem;
        text-decoration: none;
  
        p {
          margin: 0;
        }
  
        .heading {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 0 0 1rem 0;
  
          p {
            font-weight: var(--font-weight-medium);
          }
        }
  
        .details {
          align-items: center;
          display: flex;
          justify-content: space-between;
  
          p {
            align-items: center;
            display: flex;
            white-space: nowrap;
          }
  
          .icon {
            color: var(--gray-blue-200);
            margin: 0 .25rem 0 0;
          }
        }
      }
    }

    .no-visitor-recordings {
      background: var(--white);
      border: 1px solid var(--gray-150);
      border-radius: var(--border-radius-md);
      padding: 4rem;
      text-align: center;

      h5 {
        margin: 2rem 0 0 0;
      }
    }

    .stats {
      display: grid;
      grid-gap: 2rem;
      grid-template-areas: 'recordings page-views session-duration per-session';
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-bottom: 2rem;

      @include breakpoint-lg {
        grid-gap: 2rem;
        grid-template-areas: 'recordings'
                             'page-views'
                             'session-duration'
                             'per-session';
        grid-template-columns: minmax(0, 1fr);
      }

      .card {
        h3 {
          align-items: center;
          color: var(--blue-500);
          display: flex;
          margin: 0;
        }

        h5 {
          margin: 0 0 1.5rem 0;
        }

        .pill {
          margin-left: 1rem;
          padding: .25rem .75rem;
        }

        &.recordings {
          grid-area: recordings;
        }

        &.page-views {
          grid-area: page-views;
        }

        &.session-duration {
          grid-area: session-duration;
        }

        &.per-session {
          grid-area: per-session;
        }
      }
    }

    .visitor-pages-table {
      margin-bottom: 2rem;
      
      .row {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.bulk-action-hint {
  white-space: pre-wrap;
}
