.page.sites.visitor {
  .visitor-view {
    .title {
      i {
        color: var(--gray-500);
        margin-right: .5rem;
      }
    }
    
    .sub-heading {
      margin: 3rem 0 2rem 0;
    }

    .summary {
      border: 1px solid var(--gray-150);
      font-size: 13px;
      line-height: 16px;
      margin: 3rem 0;
      padding: 3rem;

      .summary-data {
        display: grid;
        grid-gap: 3rem;
        grid-template-areas: 'linked default';
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint-lg {
          grid-template-areas: 'linked'
                               'default';
          grid-template-columns: 1fr;
        }

        .linked {
          background: var(--gray-50);
          border-radius: var(--border-radius-md);
          grid-area: linked;
          padding: 2rem;

          .heading {
            align-items: center;
            display: flex;
            font-weight: var(--font-weight-bold);

            i {
              color: var(--blue-500);
              font-size: 18px;
              font-weight: var(--font-weight-normal);
              margin-right: .5rem;
            }
          }

          p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        .default {
          grid-area: default;
          margin-top: .5rem;
        }

        .attributes {
          margin-top: 1.5rem;
        }

        .row {
          display: flex;
          justify-content: space-between;
          height: 1rem;
          margin: 0 0 1rem 0;

          &:last-of-type {
            margin-bottom: 0;
          }

          dt {
            font-weight: var(--font-weight-bold);
          }

          dd {
            align-items: center;
            display: flex;
          }

          .pill {
            display: inline-block;
            margin-left: .5rem;
            width: 70px;
          }

          .device {
            font-size: 20px;
          }

          .browser {
            display: inline-block;
            height: 1.25rem;
            margin-right: .5rem;
          }
        }

        .tooltip {
          .button {
            color: var(--blue-500);
            font-size: 13px;
            line-height: 16px;
            text-decoration: underline;
          }
        }
      }
    }

    .visitor-highlights {
      display: grid;
      grid-gap: 3rem;
      grid-template-areas: 'recordings pageviews';
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 216px;
      margin-bottom: 3rem;

      @include breakpoint-md {
        grid-template-areas: 'recordings'
                             'pageviews';
        grid-template-columns: repeat(1, 1fr);
      }

      .card {
        border: 1px solid var(--gray-150);
        padding: 3rem;

        h2 {
          align-items: center;
          color: var(--blue-500);
          display: flex;
          font-size: 48px;
          line-height: 64px;
          margin: 2rem 0 0 0;
        }

        h3 {
          font-size: 24px;
          line-height: 32px;
          margin: 0;
        }

        .pill {
          margin-left: 1rem;
          padding: .25rem .75rem;
        }

        &.recordings {
          grid-area: recordings;
        }

        &.page-views {
          grid-area: pageviews;
        }
      }
    }

    .visitor-recordings-table {
      margin-bottom: 2rem;

      .row {
        grid-template-columns: 105px 1fr 1fr 1fr 1fr 2fr 1fr 90px 80px;
      }
    }

    .no-visitor-recordings {
      background: var(--white);
      border: 1px solid var(--gray-150);
      border-radius: var(--border-radius-md);
      padding: 4rem;
      text-align: center;

      h4 {
        margin: 3rem 0 0 0;
      }
    }

    .stats {
      display: grid;
      grid-gap: 3rem;
      grid-template-areas: 'session-duration per-session';
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 216px;
      margin-bottom: 3rem;

      @include breakpoint-lg {
        grid-template-areas: 'session-duration'
                             'per-session';
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 216px;
      }

      .card {
        border: 1px solid var(--gray-150);
        padding: 3rem;

        h2 {
          align-items: center;
          color: var(--blue-500);
          display: flex;
          font-size: 48px;
          line-height: 64px;
          margin: 2rem 0 0 0;
        }

        h3 {
          font-size: 24px;
          line-height: 32px;
          margin: 0;
        }

        .pill {
          margin-left: 1rem;
          padding: .25rem .75rem;
        }

        &.session-duration {
          grid-area: session-duration;
        }

        &.per-session {
          grid-area: per-session;
        }
      }
    }

    .visitor-pages-table {
      margin-bottom: 2rem;
      
      .row {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
