.page.sites.visitors {
  .visitors-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;

    @include breakpoint-md {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 1.5rem;
    }

    menu {
      align-items: center;
      display: flex;
      margin: 0;

      @include breakpoint-md {
        padding: 0;
        width: 100%;
      }

      .menu-item {
        position: relative;

        .dropdown.open > .button {
          background: var(--gray-100);
        }

        .dropdown-menu {
          left: auto;
          right: 0;
          top: calc(100% + .5rem);
          transform: none;
        }

        &.filters {
          @include breakpoint-md {
            width: 100%;

            & .dropdown > .button {
              border: 1px solid var(--blue-500);
              justify-content: space-between;
              margin: 0;
              width: 100%;
            }
          }
        }
      }

      .dropdown {
        & > .button {
          background: none;
          border: none;
          border-radius: var(--border-radius-md);
          height: 40px;
          margin-left: .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--gray-100);
          }
  
          i {
            position: static;
  
            &:not(.arrow) {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }
          }
        }
      }

      .columns {
        @include breakpoint-md {
          display: none;
        }

        .dropdown-menu {
          width: 240px;
        }

        .filters-columns {
          padding: 1rem;

          .checkbox {
            margin-bottom: .5rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }

      .dropdown-menu {
        width: 210px;

        & > .button {
          color: var(--gray-blue-800);
          height: 40px;
          margin-left: 0;
          padding: 0 .5rem;
          text-align: left;

          &.open {
            background: var(--gray-100);
          }

          i {
            color: var(--gray-blue-800);
            font-size: 1.5rem;
          }
        }

        .popout {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: var(--box-shadow-sm);
          display: none;
          padding: 1.5rem;
          position: absolute;
          right: 220px;
          top: 0;

          &.open {
            display: block;
          }

          .actions {
            display: flex;

            .button {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .filter-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    .label {
      margin: 0 .5rem .75rem 1rem;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .tag {
      height: 2rem;
      margin: 0 .5rem .75rem 0;

      span span {
        color: var(--gray-500);
        padding: 0;
      }
    }

    .clear-filters {
      align-items: center;
      color: var(--rose-500);
      display: flex;
      height: 2rem;
      margin: 0 0 .75rem .5rem;

      i {
        font-size: 1.25rem;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 0;

    @include breakpoint-md {
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }

    .search {
      align-items: center;
      display: flex;
      margin: 0 0 0 2rem;
      position: relative;
      width: 320px;

      @include breakpoint-md {
        margin: 1.5rem 0 .5rem 0;
        width: 100%;
      }

      .input {
        margin: 0;
        padding-right: 2.25rem;
      }

      .button {
        background: none;
        border: none;
        color: var(--gray-blue-800);
        font-size: 1.25rem;
        padding: 0;
        position: absolute;
        right: 2.5rem;

        i {
          display: block;
        }

        &:hover {
          color: var(--blue-500);
        }
      }

      & > i {
        color: var(--gray-200);
        display: block;
        font-size: 1.5rem;
        font-weight: var(--font-weight-normal);
        position: absolute;
        right: .75rem;
      }
    }
  }

  .empty-state {
    align-items: center;
    display: none;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 11rem);
    width: 100%;

    @include breakpoint-md {
      height: auto;
    }

    .empty-state-contents {
      align-items: center;
      background: var(--gray-50);
      border-radius: var(--border-radius-md);
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h4 {
        margin: 2rem 0;
      }

      .message {
        max-width: 580px;
      }
    }

    &.filters {
      display: flex;
      height: calc(100% - 15rem);
    }
  }

  .empty {
    .title {
      .search {
        display: none;
      }
    }

    .empty-state {
      display: flex;
    }
  }

  .visitors-list {
    margin-bottom: 2rem;

    .row {
      grid-template-columns: 105px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 90px;

      .linked i {
        color: var(--blue-500);
        display: inline-block;
        font-size: 1rem;
        margin-right: .25rem;
        vertical-align: middle;
      }
    }

    .pill {
      display: inline-block;
      width: 70px;
    }

    .visitor-starred {
      font-size: 1.25rem;
    }

    .browser {
      display: block;
      height: 1.5rem;
    }

    &.hide-status {
      .row {
        .cell:nth-of-type(1) {
          display: none;
        }
      }
    }

    &.hide-user-id {
      .row {
        .cell:nth-of-type(3) {
          display: none;
        }
      }
    }

    &.hide-name {
      .row {
        .cell:nth-of-type(4) {
          display: none;
        }
      }
    }

    &.hide-email {
      .row {
        .cell:nth-of-type(5) {
          display: none;
        }
      }
    }

    &.hide-email {
      .row {
        .cell:nth-of-type(5) {
          display: none;
        }
      }
    }

    &.hide-recordings {
      .row {
        .cell:nth-of-type(6) {
          display: none;
        }
      }
    }

    &.hide-first-visited {
      .row {
        .cell:nth-of-type(7) {
          display: none;
        }
      }
    }

    &.hide-last-activity {
      .row {
        .cell:nth-of-type(8) {
          display: none;
        }
      }
    }

    &.hide-language {
      .row {
        .cell:nth-of-type(9) {
          display: none;
        }
      }
    }

    &.hide-device-viewport {
      .row {
        .cell:nth-of-type(10) {
          display: none;
        }
      }
    }

    &.hide-browser {
      .row {
        .cell:nth-of-type(11) {
          display: none;
        }
      }
    }
  }

  .visitors-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
