#squeaky__consent_form {
  background: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  min-height: 20rem;
  max-width: 30rem;
  position: fixed;
  width: 100%;
  z-index: 9999;

  &.bottom_left {
    bottom: 0;
    left: 0;
  }

  &.bottom_right {
    bottom: 0;
    right: 0;
  }

  &.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 540px) {
    max-width: calc(100% - 3rem);
  }
}


#squeaky__consent_close {
  align-items: center;
  appearance: none;
  background: #0074E0;
  border: none;
  border-radius: 100% !important;
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;

  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

#squeaky__consent_frame {
  border: none;
  border-radius: .5rem;
  flex: 1;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
