.page.users.feature-flags {
  flex: 1;
  margin: 0;

  .title {
    margin: 2rem 0;
  }

  .options {
    .toggle {
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-bottom: 1rem;

      span {
        margin: 0;
      }
    }
  }

  .feature-flag {
    border-bottom: 1px solid var(--gray-150);
    color: var(--gray-500);
    margin: 0 0 1.5rem 0;
  }
}
