.event-groups-selector {
  position: relative;

  .typeahead {
    background: var(--white);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-lg);
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    width: 100%;

    p.small {
      color: var(--gray-500);
      margin: 0 0 1rem 0;
    }

    .tags {
      margin: 0 0 1rem 0;

      div {
        margin: 0 .5rem .5rem 0;
      }

      .tag.primary {
        cursor: pointer;
      }
    }

    .create {
      align-items: center;
      display: flex;

      p {
        margin: 0 .5rem 0 0;

        .tag {
          margin: 0 0 0 .5rem;
        }
      }
    }
  }

  .tag {
    border-radius: var(--border-radius-sm);
    font-weight: var(--font-weight-medium);
    height: 2rem;
    padding: .3rem .75rem;

    span {
      line-height: var(--line-height-body);
      padding: 0;
      pointer-events: none;
    }
  }
}
