.page.sites.analytics.traffic {
  .analytics-page-traffic {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 'average-time-on-page average-time-on-page average-visits-per-session average-visits-per-session bounce-rate bounce-rate exit-rate exit-rate'
                          'visitors-graph visitors-graph visitors-graph visitors-graph visitors-graph visitors-graph visitors-graph visitors-graph'
                          'time-of-day time-of-day time-of-day time-of-day time-of-day time-averages time-averages time-averages';
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: auto;
    
    @include breakpoint-md {
      grid-gap: 1.5rem;
      grid-template-areas: 'average-time-on-page'
                           'average-visits-per-session'
                           'average-session-per-visitors'
                           'bounce-rate'
                           'exit-rate'
                           'visitors-graph'
                           'time-of-day'
                           'time-averages';
      grid-template-columns: 100%;
    }

    .grid-item {
      h4 {
        margin: 2rem 0 1.5rem 0;
      }

      .rc-pagination {
        margin-top: 1.5rem;
      }

      .card {
        display: flex;
        flex: 1;
        flex-direction: column;

        h3 {
          align-items: flex-end;
          color: var(--blue-500);
          display: flex;
          font-weight: var(--font-weight-bold);
          flex: 1 1;
          margin: 0;
        }
  
        h5 {
          align-items: center;
          display: flex;
          margin: 0 0 1.5rem 0;

          .icon {
            color: var(--blue-500);
            font-weight: var(--font-weight-normal);
            margin: 0 .5rem 0 0;
          }
        }

        .trend {
          margin: 1.5rem 0 0 0;
        }
      }
  
      .heading {
        align-items: center;
        display: flex;
        justify-content: space-between;
  
        .title {
          h3 {
            color: var(--purple-500);
            margin: 0 1rem;
          }
  
          h5 {
            margin: 0;
          }
        }
  
        .actions {
          display: flex;
  
          .label {
            margin: 0 1.5rem 0 0;
          }
  
          .checkbox:last-of-type {
            margin-right: 0;
          }
        }
      }

      &.average-time-on-page {
        grid-area: average-time-on-page;
      }

      &.average-visits-per-session {
        grid-area: average-visits-per-session;
      }

      &.bounce-rate {
        grid-area: bounce-rate;
      }

      &.exit-rate {
        grid-area: exit-rate;
      }

      &.visitors-graph {
        grid-area: visitors-graph;

        .analytics-graph {
          .title {
            align-items: flex-end;
    
            h3 {
              line-height: 2rem;
            }

            .trend {
              margin: 0;
            }
          }
    
          @include breakpoint-md {
            .heading {
              margin-bottom: 2rem;
    
              .actions {
                display: none;
              }
            }
    
            .title {
              width: 100%;
    
              h3 {
                flex: 1;
              }
            }
          }
        }
    
        .graph-wrapper {
          height: 340px;
          width: 100%;
    
          @include breakpoint-md {
            height: 150px;
          }
        }
      }

      &.time-of-day {
        grid-area: time-of-day;
      }

      &.time-averages {
        grid-area: time-averages;
      }
    }
  }
}
