.page.__admin.user {
  .admin-header {
    .pill {
      margin: 0 0 0 1rem;
    }
  }

  .user-details {
    p {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 0 1rem 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .user-partner {
    margin: 2rem 0 0 0;
  }
}
