.page.__admin.users {
  .table-wrapper {
    margin-bottom: 2rem;
  }

  .partnered {
    color: var(--rose-500);
    font-size: var(--font-size-body);

    .icon {
      margin: 0 0 0 .25rem;
      vertical-align: middle;
    }
  }

  .users-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include breakpoint-sm {
      flex-direction: column;

      .rc-pagination {
        margin: .5rem 0 0 0;
      }

      .page-size {
        display: none;
      }
    }
  }

  &.partners {
    .table {
      .sort {
        display: none;
      }
    }
  }
}
