.page.__admin.users {
  .table-wrapper {
    margin-bottom: 2rem;
  }

  .users-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include breakpoint-sm {
      flex-direction: column;

      .rc-pagination {
        margin: .5rem 0 0 0;
      }

      .page-size {
        display: none;
      }
    }
  }
}
