.page.sites.sentiment {
  .title {
    align-items: center;
    display: flex;
    margin: 0 0 3rem 0;
  }

  .empty-state {
    align-items: center;
    display: none;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 11rem);
    width: 100%;

    @include breakpoint-md {
      height: auto;
    }

    .empty-state-contents {
      align-items: center;
      background: var(--gray-50);
      border-radius: var(--border-radius-md);
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h4 {
        margin: 3rem 0;
      }

      .message {
        max-width: 580px;
      }
    }


    &.filters {
      display: flex;
      height: calc(100% - 15rem);
    }
  }

  .empty {
    .title {
      .search {
        display: none;
      }
    }

    .empty-state {
      display: flex;
    }
  }

  .sentiment-tabs {
    margin-bottom: 3rem;
  }

  .sentiment-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: 'heading-overview heading-overview heading-overview'
                         'card-rating card-rating card-response'
                         'heading-responses heading-responses heading-responses'
                         'card-responses card-responses card-responses';
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;

    @include breakpoint-md {
      grid-gap: 2rem;
      grid-template-areas: 'heading-overview'
                           'card-rating'
                           'card-response'
                           'heading-responses'
                           'card-responses';
      grid-template-columns: 1fr;
    }

    .heading-overview {
      grid-area: heading-overview;
      margin: 0;
    }

    .card-rating {
      grid-area: card-rating;
    }

    .card-response {
      grid-area: card-response;
    }

    .heading-responses {
      grid-area: heading-responses;
      margin: 0;
    }

    .card-responses {
      grid-area: card-responses;
    }

    .card {
      border: 1px solid var(--gray-150);
      padding: 2rem;

      h4 {
        margin: 0 0 2rem 0;
      }

      .no-data {
        align-items: center;
        background: var(--gray-50);
        border: 1px solid var(--gray-100);
        border-radius: var(--border-radius-md);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 6rem 2rem;
    
        i {
          color: var(--gray-300);
          font-size: 2rem;
          margin-bottom: .5rem;
        }
    
        p {
          margin: 0;
        }
      }
    
      .no-responses {
        padding: 4rem;
        text-align: center;
    
        h4 {
          margin: 3rem 0 0 0;
        }
      }
    }
  }

  .colors {
    align-items: center;
    display: flex;

    .label {
      margin: 0;

      .check {
        margin: 0;
      }
    }

    .color-radio {
      align-items: center;
      display: flex;
      height: 3rem;
      justify-content: center;
      position: relative;
      width: 3rem;

      .check {
        background: none;
        border: none;
        border-radius: var(--border-radius-md);
        height: 3rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 3rem;
        z-index: 0;
      }

      input:checked + .check {
        background: var(--white);
        border: 1px solid var(--gray-200);

        & + span .color i {
          display: block;
        }
      }

      &:hover {
        .check {
          background: var(--white);
          border: 1px solid var(--gray-200);
        }
      }
    }

    .sentiment-settings {
      h4 { 
        margin: 3rem 0 1.5rem 0;
      }
    }

    .color {
      align-items: center;
      border-radius: var(--border-radius-o);
      display: flex;
      height: 2rem;
      justify-content: center;
      position: relative;
      width: 2rem;
      z-index: 1;

      i {
        color: var(--white);
        display: none;
        font-size: 1.25rem;
      }

      &.blue {
        background: var(--blue-500);
      }

      &.magenta {
        background: var(--magenta-500);
      }

      &.purple {
        background: var(--purple-500);
      }

      &.gray {
        background: var(--gray-800);
      }
    }

    p {
      margin: 0 1.5rem;
    }

    .hex {
      margin: 0 0 0 1rem;
      width: 128px;
    }
  }

  .sentiment-pages {
    background: var(--white);
    border: 1px solid var(--gray-150);
    border-radius: var(--border-radius-md);
    max-height: 22rem;
    max-width: 22rem;
    overflow-y: auto;
    width: 100%;

    .checkbox-group {
      padding: 1rem;
    }
  }

  .actions {
    margin-top: 4.5rem;
  }
}
