<h1>Log in to Squeaky.ai</h1>
<p>We received your log in code request. Please use the following temporary code to access your account:</p>
<h2 class="token"><%= @token %></h2>
<p>(If you didn't try to sign up, you can safely ignore this email.)</p>
