.page.sites {
  background: var(--gray-50);
  flex: 1;

  .empty-state {
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;

    &.welcome {
      height: 100%;
    }

    .contents {
      margin-top: -80px;
      text-align: center;
      width: 720px;

      h2 {
        margin: 5rem 0 2rem 0;
      }

      p {
        margin: 0 auto 3rem auto;
        max-width: 520px;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 3rem 0 2rem 0;

    .new-site {
      background: transparent;
      border: none;
      color: var(--blue-500);
      margin-left: 1rem;
      font-size: 16px;
      font-weight: var(--font-weight-normal);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sites-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        align-items: center;
        background: var(--white);
        border: 1px solid var(--gray-150);
        border-radius: var(--border-radius-md);
        color: var(--gray-800);
        display: flex;
        height: 76px;
        margin-bottom: .75rem;
        padding: 1.5rem;
        text-decoration: none;

        &:hover {
          background: var(--gray-100);
        }

        &:focus {
          outline-offset: 2px;
        }
      }

      .avatar {
        flex-shrink: 0;
        margin-right: .75rem;
      }

      p {
        flex: 1;
        margin: 0;
      }
      
      .pill {
        margin-left: .5rem;
        vertical-align: middle;
      }

      .url {
        color: var(--gray-500);
      }
    }
  }
}
