.page.widget.magic-erasure {
  #app-sidebar {
    display: none;
  }

  #main {
    margin: 0;
    padding: 1rem;

    .button {
      background: none;
      border: none;
      height: 1.125rem;
      margin: 0;
      padding: 0;
      width: 1.125rem;

      .icon {
        color: var(--gray-700);
        font-size: 18px;
        font-weight: var(--font-weight-normal);
        margin: 0 0 0 .5rem;

        &:hover {
          color: var(--blue-500); 
        }
      }

      &.show {
        .icon {
          color: var(--blue-500);
        }
      }
    }

    .label {
      justify-content: flex-start;
      margin: 0 0 1rem 0;
    }

    p {
      margin: 0 0 1rem 0;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1.5rem;

      li {
        .icon {
          color: var(--blue-500);
          vertical-align: middle;
        }
      }
    }

    .selectors {
      font-size: 13px;
      line-height: 16px;
      margin: 1rem 0 0 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          border-top: 1px solid var(--gray-150);
          cursor: pointer;
          list-style: none;
          overflow: hidden;
          padding: 1rem;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;

          .delete-selector {
            background: var(--white);
            border-radius: var(--border-radius-sm);
            height: 2rem;
            display: none;
            position: absolute;
            right: .75rem;
            top: .75rem;
            width: 2rem;

            .icon {
              color: var(--rose-500);
              margin: 0;
            }
          }

          &:last-of-type {
            border-bottom: 1px solid var(--gray-150);

            &:hover {
              border-bottom-color: transparent;
            }
          }

          &:hover {
            background: var(--gray-100);
            border-radius: var(--border-radius-md);
            border-top-color: transparent;

            + li {
              border-top-color: transparent;
            }


            .delete-selector {
              display: block;
            }
          }
        }
      }
    }
  }
}
