.analytics-graph {
  .show {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;

    .label {
      margin: 0 1.5rem 0 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .graph-wrapper {
    height: 340px;
    width: 100%;
  }

  .recharts-surface {
    overflow: visible;
  }
}
