.analytics-browsers {
  margin: 1rem;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0 0 1.5rem 0;

    .contents {
      flex: 1;
      margin-left: 1.5rem;
    }

    .percentage {
      background: var(--blue-500);
      border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
      height: .5rem;
      margin: 0 0 .5rem 0;
    }

    p {
      color: var(--gray-500);
      font-size: 13px;
      line-height: 16px;
      margin: 0;

      b {
        color: var(--gray-800);
      }
    }
  }
}