.chart-tooltip {
  background: var(--gray-blue-800);
  border-radius: var(--border-radius-md);
  color: var(--gray-100);
  padding: 1rem;

  p {
    margin: 0 0 .5rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.recharts-tooltip-wrapper {
  outline: none;
  z-index: 1;
}
