.site-create-modal {
  background: var(--white);

  &.modal {
    .modal-body {
      background: var(--white);
      border: none;
      border-radius: var(--border-radius-lg);
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 2rem);
      padding: 3rem;

      .modal-header {
        border-bottom: none;
        height: auto;
        padding: 0;
      }

      .modal-contents {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 640px;
        max-height: calc(100vh - 1.5rem);
        overflow: auto;
        padding: 0;

        @media only screen and (max-height: 780px) {
          min-height: auto;
        }
      }
    }
  }

  .close,
  .blank {
    display: block;
    font-size: var(--font-size-body-xxl);
    height: 1.5rem;
    width: 1.5rem;
  }

  .steps {
    display: flex; 

    .indicator {
      background: var(--gray-100);
      border-radius: var(--border-radius-o);
      height: 1rem;
      width: 1rem;
    }
    
    .seperator {
      background: var(--gray-100);
      height: 2px;
      margin: 0 2px;
      width: 1.25rem;
    }

    .step {
      align-items: center;
      display: flex;

      &.selected {
        .indicator {
          background: var(--white);
          border: 2px solid var(--blue-500);
        }
      }

      &.filled {
        .indicator {
          animation: pop-in .3s ease-in forwards;
          background: var(--blue-500);
        }

        .seperator {
          background: var(--blue-500);
        }
      }
    }
  }

  .content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .fade-in {
      animation: fade-in .3s ease-in forwards;
      opacity: 0;
    }

    .step {
      flex: 1;
      padding: 0 0 5.5rem 0;
      position: relative;

      .subheading {
        color: var(--blue-500);
        font-weight: var(--font-weight-medium);
        height: 1.5rem;
        margin: 2rem 0 0 0;
        text-align: center;
      }

      h4 {
        margin: 0 0 1.5rem 0;
        text-align: center;
      }

      .details {
        p {
          color: var(--gray-500);
          margin: 0 auto 1.5rem auto;
          max-width: 25rem;
          text-align: center;

          &:last-of-type {
            margin-bottom: 2.5rem;
          }
        }
      }

      .footer {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        left: 0;
        position: absolute;
        width: 100%;

        .button {
          height: 2.5rem;

          &.primary, &.quaternary {
            padding: .5rem 1rem;
          }
        }

        div {
          display: flex;

          .button + .button {
            margin-left: 1rem;
          }
        }
      }

      &.step-type {
        max-width: 42rem;

        .site-types {
          align-items: flex-start;
          display: grid;
          grid-gap: 3rem;
          grid-template-columns: repeat(2, 1fr);
          margin: 4rem 0 0 0;

          .button {
            background: none;
            border: 2px solid var(--gray-150);
            border-radius: var(--border-radius-md);
            cursor: pointer;
            padding: 2.25rem 1.5rem 1.5rem 1.5rem;
            text-align: left;

            &.active,
            &:hover {
              border-color: var(--blue-500);
            }
          }

          h5 {
            margin: 1.5rem 0;
            text-align: center;
          }

          .icon {
            align-items: center;
            color: var(--blue-500);
            display: flex;
            font-size: 2.5rem;
            justify-content: center;
            height: 2.5rem;
            text-align: center;
          }

          p, li {
            font-size: var(--font-size-body-sm);
            font-weight: var(--font-weight-normal);
          }

          p {
            margin: 0 0 1rem 0;
          }

          ul {
            margin: 0;
            padding: 0 0 0 1rem;
          }
        }
      }

      &.step-details {
        width: 100%;

        form {
          margin: 4rem auto 0 auto;
        }

        .container {
          max-width: 25rem;
        }
      }

      &.step-invite {
        width: 100%;

        form {
          margin: 4rem auto 0 auto;
        }

        .container {
          max-width: 27.5rem;
        }

        .roles-label {
          align-items: center;
          display: flex;
          margin: 0 0 .5rem 0;

          .label {
            margin: 0 .25rem 0 0;
          }

          .button {
            height: 1.25rem;
          }
        }

        .input-group {
          align-items: center;
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: 1fr 8rem .75rem;
          margin: 0 0 .75rem 0;
        }

        .input, .select {
          margin: 0;
        }

        .link {
          span {
            text-decoration: underline;
          }
        }

        .remove {
          align-items: center;
          background: none;
          border: none;
          display: flex;
          margin: 0;
          padding: 0;

          .icon {
            color: var(--rose-500);
            font-size: var(--font-size-body-xxl);
          }
        }
      }

      &.step-privacy {
        width: 100%;

        .radio-group {
          .radio {
            margin: 0 0 1.5rem 0;
          }
        }

        .card {
          background: var(--gray-50);
          border: 1px solid var(--gray-150);
          box-shadow: none;
          display: grid;
          grid-gap: 2rem;
          grid-template-columns: 1fr 352px;

          .preview {
            position: relative;

            .label {
              font-size: var(--font-size-body-sm);              
            }

            .image {
              display: none;

              &.show {
                display: block;
              }

              &.person {
                display: block;
                left: 0;
                position: absolute;
                top: 0;

                img {
                  mix-blend-mode: multiply;
                }
              }
            }
          }

          p {
            align-items: center;
            display: flex;
            font-size: var(--font-size-body-sm);
            margin: .75rem 0 0 0;

            .icon {
              color: var(--blue-500);
              font-size: var(--font-size-body-lg);
              margin: 0 .5rem 0 0;
            }
          }
        }
      }

      &.step-consent {
        width: 100%;

        .card {
          background: var(--gray-50);
          border: 1px solid var(--gray-150);
          box-shadow: none;
          margin: 0 auto;
          max-width: 30rem;
        }

        .use-widget {
          .radio-contents {
            display: flex;
            flex: 1;
  
            & > span {
              flex: 1;
            }
          }
        }

        .preview {
          align-items: center;
          display: flex;

          .icon {
            margin: 0 .25rem 0 0;
          }

          .text {
            text-decoration: underline;
          }
        }

        .consent-details {
          margin: 1rem 0 0 2rem;

          .input:last-of-type {
            margin: 0;
          }

          .label {
            font-size: var(--font-size-body-sm);
          }
        }

        .radio-group {
          .radio {
            align-items: flex-start;
            margin: 0;

            .check {
              margin-top: -2px;
            }

            &:nth-of-type(2) {
              margin: 1.5rem 0 0 0;

              & + a {
                display: block;
                font-size: var(--font-size-body-sm);
                margin: 0 0 1.5rem 2rem;
              }
            }

            &:last-of-type {
              margin: 0;
            }
          }
        }
      }

      &.step-tracking-code {
        width: 100%;

        .install-options {
          display: flex;
          flex-direction: column;
          margin: 7rem auto 0 auto;
          max-width: 25rem;
          width: 100%;

          .install-option {
            align-items: center;
            background: var(--white);
            border: 2px solid var(--gray-100);
            border-radius: var(--border-radius-md);
            display: flex;
            margin: 0 0 1rem 0;
            padding: 1.5rem 1rem;

            span {
              flex: 1;
              text-align: left;
            }

            .icon {
              color: var(--blue-500);
              font-size: var(--font-size-body-xxl);
              margin: 0 .75rem 0 0;

              &:last-of-type {
                color: var(--gray-300);
                margin: 0 0 0 .75rem;
              }
            }

            &:last-of-type {
              margin: 0;
            }

            &:hover {
              border-color: var(--blue-500);
            }
          }
        }

        .installation-guides {
          display: grid;
          grid-template-columns: 14.5rem minmax(0, 1fr);
          margin: 5rem 0 1.5rem 0;

          .guides {
            flex-shrink: 0;
            margin: 0 2rem 0 0;
          }

          .platforms {
            display: flex;
            flex-direction: column;

            .icon {
              color: var(--gray-blue-800);
              height: 1.5rem;
              font-size: 1.5rem;
              width: 1.5rem;
            }

            a {
              align-items: center;
              display: flex;
              margin: 0 0 .75rem 0;
              text-decoration: none;

              .name {
                margin: 0 0 0 1rem;
                text-decoration: underline;
              }
            }
          }
        }

        .send-instructions {
          margin: 8rem auto 6rem auto;
          max-width: 25rem;
        }

        .code.block {
          background: var(--gray-50);
          border: 1px solid var(--gray-150);
          box-shadow: none;
          overflow-x: auto;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .message {
          p {
            margin: 0 0 1rem 0;

            .icon {
              color: var(--blue-500);
            }
          }

          .actions {
            .button {
              margin: 0 1rem .5rem 0;
            }
          }
        }
      }

      &.step-confirmation {
        padding: 12rem 0;

        .verified {
          text-align: center;

          .icon {
            color: var(--green-500);
            font-size: 2.5rem;
          }

          h4 {
            margin: 1.5rem 0 2rem 0;
          }
        }
      }
    }
  }
}

.modal.team-role-modal.scrollable {
  .modal-body {
    max-height: 47.5rem;

    .modal-contents {
      max-height: 36.5rem;
    }
  }

  .roles {
    h5 {
      margin: 0 0 1rem 0;
    }

    p {
      color: var(--gray-blue-700);
      margin-bottom: .75rem;
    }

    ul {
      margin: 0 0 1rem 0;
      padding: 0;

      li {
        align-items: flex-start;
        display: flex;
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        list-style: none;
        margin: 0 0 .125rem 0;
      }

      .icon {
        color: var(--blue-500);
        font-size: var(--font-size-body);
        margin: 0 .25rem 0 0;

        &.negative {
          color: var(--rose-500);
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
