.filters {
  .row {
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;

    &:not(.single-date) > * {
      margin: 0 .5rem 0 0;
    }

    .radio {
      margin: 0;
    }
  }

  form {
    margin: 1rem 0 0 0;
  }

  .filters-date {
    width: 12.375rem;
  }

  .spinner {
    margin: 0 auto;
  }

  .search {
    margin: 0;
    position: relative;
    width: 100%;

    .input {
      margin: 0;
      padding-right: 2.5rem;
    }

    i {
      color: var(--gray-200);
      font-size: var(--font-size-body-lg);
      position: absolute;
      right: .75rem;
      top: .5rem;
    }
  }

  .filters-status {
    width: 200px;

    .row {
      align-items: flex-start;
      flex-direction: column;

      .radio:not(:last-of-type) {
        margin-bottom: .5rem;
      }
    }
  }

  .filters-duration {
    width: 300px;

    .select {
      min-width: 160px;
      width: auto;
    }
  }

  .filters-pages {
    margin: 0;
    width: 400px;

    .page-selector {
      margin: 0 0 1.5rem 0;
      padding: 0;
    }
  }

  .filters-device {
    width: 200px;

    .row {
      align-items: flex-start;
      flex-direction: column;

      .checkbox:not(:last-of-type) {
        margin-bottom: .5rem;
      }
    }
  }

  .filters-browsers {
    width: 200px;

    .browsers {
      align-items: flex-start;
      flex-direction: column;

      .checkbox {
        margin-bottom: .5rem;
      }
    }
  }

  .filters-viewport {
    width: 320px;

    .column {
      position: relative;

      .input {
        margin: 0;
        padding-right: 2.5rem;
      }
      
      p {
        color: var(--gray-500);
        margin: 0;
        position: absolute;
        right: .75rem;
        top: calc(100% - 1.75rem);
      }
    }
  }

  .filters-language {
    width: 320px;

    .languages {
      align-items: flex-start;
      flex-direction: column;
      max-height: 300px;
      overflow-y: auto;

      .checkbox {
        margin-bottom: .5rem;
      }
    }
  }

  .filters-recordings {
    width: 320px;

    .input {
      width: 130px;
    }
  }

  .filters-tags {
    width: 320px;

    .tags {
      align-items: flex-start;
      flex-direction: column;
      max-height: 300px;
      overflow-y: auto;

      .checkbox {
        margin-bottom: .5rem;
      }

      .tag {
        height: 2rem;
        margin: 0;

        &.secondary {
          background: var(--white);
        }
      }
    }
  }

  .filters-bookmarked {
    width: 200px;

    .row {
      align-items: flex-start;
      flex-direction: column;

      .checkbox:not(:last-of-type) {
        margin-bottom: .5rem;
      }
    }
  }

  .filters-starred {
    width: 200px;

    .row {
      align-items: flex-start;
      flex-direction: column;
      margin: 0 0 1.5rem 0;

      .checkbox:not(:last-of-type) {
        margin-bottom: .5rem;
      }
    }
  }

  .filters-referrers {
    width: 400px;

    .referrers {
      align-items: flex-start;
      flex-direction: column;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;

      .label {
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
      }

      .checkbox {
        margin-bottom: .5rem;
        width: 100%;
      }

      span:nth-of-type(2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .filters-utm {
    width: 200px;

    .utm-rows {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;

      .radio {
        margin-bottom: .5rem;

        span:not(.check) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 148px;
        }
      }
    }

    .no-data {
      align-items: center;
      background: var(--gray-100);
      border-radius: var(--border-radius-md);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      width: 100%;

      .icon {
        color: var(--gray-300);
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
      }
    }
  }

  .filters-outcome-type {
    .radio {
      margin-bottom: .5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .filters-follow-up-comment {
    .radio {
      margin-bottom: .5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .filters-rating {
    .radio {
      margin-bottom: .5rem;

      span:not(.check) {
        height: 1.25rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .filters-visitor-type {
    width: 200px;

    .row {
      align-items: flex-start;
      flex-direction: column;

      .radio:not(:last-of-type) {
        margin-bottom: .5rem;
      }
    }
  }
}
