.site-header {
  width: 100%;

  .logo {
    width: 103px;
  }

  .recording-details {
    p {
      margin: 0;

      .seperator {
        color: var(--gray-200);
        display: inline-block;
        margin: 0 .25rem;
      }

      .session {
        color: var(--gray-500);
      }

      .session-number {
        color: var(--gray-800);
      }
    }
  }

  .dropdown {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 103px;

    .button {
      background: none;
      border: none;

      i:first-of-type {
        color: var(--gray-500);
        font-size: 1.5rem;
      }

      &:hover {
        i:first-of-type {
          color: var(--gray-800);
        }
      }
    }
  }
}