.not-found {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  .container {
    background: var(--gray-50);
    border-radius: var(--border-radius-lg);
    padding: 2rem;
    text-align: center;
  }
}
