.page-search {
  position: relative;
  width: 16rem;

  .search-open {
    background: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: var(--border-radius-md);
    color: var(--body-color);
    font-size: 16px;
    font-weight: var(--font-weight-normal);
    height: 40px;
    line-height: 24px;
    margin: 0;
    overflow: hidden;
    padding: .35rem 2rem .35rem .75rem;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      border-color: var(--blue-500);
    }

    .icon {
      display: flex;
      height: 2rem;
      font-size: 2rem;
      line-height: 2.2rem;
      pointer-events: none;
      position: absolute;
      right: .25rem;
      top: .15rem;
      width: 2rem;
    }
  }

  .search-popout {
    background: var(--white);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-sm);
    display: none;
    left: 0;
    padding: .5rem;
    position: absolute;
    top: 3rem;
    width: 100%;
    z-index: 1;

    .search-input {
      margin: 0 0 .5rem 0;
      width: 100%;
    }

    .results {
      max-height: 20rem;
      overflow-y: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      
      & > .button {
        align-items: center;
        background: none;
        border: none;
        border-radius: var(--border-radius-md);
        color: var(--gray-blue-700);
        display: block;
        font-weight: var(--font-weight-normal);
        overflow: hidden;
        padding: .5rem .75rem;
        user-select: none;
        text-align: left;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    
        i {
          color: var(--blue-500);
          margin-right: .75rem;
        }
    
        &:hover {
          background: var(--gray-100);
          color: var(--gray-blue-900);
        }
      }
    }
  }

  &.open {
    .search-popout {
      display: block;
    }

    .search-open {
      border-color: var(--blue-500);
    }
  }
}
