.period {
  position: relative;

  .dropdown {
    & > .button {
      align-items: center;
      background: none;
      border: none;
      border-radius: var(--border-radius-md);
      display: flex;
      font-weight: var(--font-weight-bold);
      height: 2rem;
      margin-left: .5rem;
      padding: 0 1rem;

      @include breakpoint-sm {
        margin: 0;
        padding: 0;
      }

      &:hover {
        background: var(--gray-100);
      }

      b {
        font-weight: var(--font-weight-bold);

        @include breakpoint-sm {
          display: none;
        }
      }

      i {
        position: static;

        &:not(.arrow) {
          color: var(--blue-500);
          font-size: var(--font-size-body-lg);
          margin-right: .5rem;

          @include breakpoint-sm {
            margin-right: .25rem;
          }
        }
      }

      span {
        align-items: center;
        display: inline-flex;
        font-weight: var(--font-weight-normal);
        margin: 0 .5rem;

        .icon {
          color: var(--gray-300);
          margin: 0 .5rem;
        }

        @include breakpoint-sm {
          display: none;
        }
      }
    }

    .dropdown-menu {
      left: .75rem;
      right: 0;
      padding: 1rem;
      top: 2.5rem;
      transform: none;
      width: 12.375rem;

      .divider {
        margin: 1rem 0;
      }

      .actions {
        border-top: 1px solid var(--gray-150);
        display: grid;
        grid-gap: .75rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem 0 0 -1rem;
        padding: 1rem 1rem 0 1rem;
        width: calc(100% + 2rem);

        .button {
          margin: 0;
        }
      }

      .row {
        align-items: center;
        display: flex;
        margin: 0 0 .5rem 0;
        padding: 0 0 0 1.5rem;

        .select {
          display: flex;

          .icon {
            align-items: center;
            justify-content: center;
            top: 0;
          }

          select {
            font-weight: var(--font-weight-normal);
          }
        }

        .label, .select {
          margin: 0;
        }

        &.from-type {
          display: flex;
          padding: 0;
        }

        &.multi-date {
          align-items: flex-start;
          flex-direction: column;

          .date-picker {
            width: 100%;
          }

          p {
            margin: .25rem 0;
          }
        }
      }
    }
  }
}
