#player {
  align-items: center;
  cursor: default;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 3rem 1.5rem;
  overflow: hidden;
  pointer-events: none;

  iframe {
    background: var(--white);
    border: 2px solid var(--gray-150);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    transform-origin: center center;
  }

  .test {
    position: relative;
  }

  #cursor {
    background: var(--magenta-500);
    border-radius: var(--border-radius-o);
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .1s linear;
    width: 2rem;
    z-index: 2;
  }
}
