.player-sidebar {
  background: var(--white);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(300px);
  transition: .1s ease-in-out;
  width: 18.5rem;
  z-index: 2;

  &.active {
    transform: translateX(0);
  }

  .sidebar {
    display: none;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    &.active {
      display: flex;
    }

    .heading {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      margin: 0;
      padding: 1.5rem;

      .button {
        background: none;
        border: none;
        color: var(--gray-700);
        font-size: 1.5rem;
        margin: 0;
        padding: 0;

        &:hover {
          color: var(--gray-800);
        }

        i {
          display: block;
        }
      }
    }

    .contents {
      border-bottom: 1px solid var(--gray-100);
      flex: 1;
      height: 100%;
      margin-bottom: 80px;
      overflow-y: auto;
      padding: 1.5rem;
    }
  }

  .datalist {
    font-size: 13px;
    line-height: 16px;

    .row {
      border-bottom: 2px solid var(--gray-100);
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
    }

    dt {
      flex-shrink: 0;
      padding-left: 1rem;
    }

    dd {
      align-items: center;
      color: var(--gray-500);
      display: flex;
      flex: 1;
      justify-content: flex-end;
      overflow: hidden;
      padding-right: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;

      i, .browser {
        color: var(--blue-500);
        font-size: 16px;
        margin-right: .5rem;
      }
    }
  }

  .datarow {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;

    li {
      border-top: 2px solid var(--gray-100);
      list-style: none;
      overflow: hidden;
      padding: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-of-type {
        border-bottom: 2px solid var(--gray-100);
      }

      &:hover {
        background: var(--gray-100);
        border-radius: var(--border-radius-md);
      }

      &.icon {
        padding-left: 3rem;
        position: relative;

        p {
          font-size: 13px;
          line-height: 16px;
          margin: 0;
        }

        i {
          color: var(--gray-200);
          font-size: 1.5rem;
          left: 1rem;
          position: absolute;
          top: 1rem;
        }
        
        .title {
          align-items: center;
          display: flex;
          justify-content: space-between;

          span {
            color: var(--blue-500);
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .info {
          color: var(--gray-500);
          margin-top: .5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
