.controls {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;

  .control-group {
    align-items: center;
    background: var(--gray-100);
    display: flex;
    padding: 1.25rem 2rem;
    position: relative;
    z-index: 3;

    &:first-of-type,
    &:last-of-type {
      width: 18.5rem;
    }

    &:nth-of-type(2) {
      flex: 1;
    }

    .control {
      align-items: center;
      background: none;
      border: none;
      border-radius: var(--border-radius-o);
      display: flex;
      height: 2.5rem;
      justify-content: center;
      flex-shrink: 0;
      margin-right: .55rem;
      padding: 0;
      position: relative;
      width: 2.5rem;

      i {
        color: var(--gray-500);
        font-size: 1.5rem;
      }

      &:hover {
        background: var(--gray-150);

        i {
          color: var(--gray-800);
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &::before {
        background: var(--blue-500);
        content: ' ';
        display: none;
        height: 3px;
        left: 0;
        position: absolute;
        top: -22px;
        width: 100%;
      }

      &.active {
        i {
          color: var(--blue-500);
        }

        &::before {
          display: block;
        }
      }
    }

    .zoom-level {
      margin: 0 .25rem 0 0;
    }

    .slider {
      width: 400px;
    }

    .timestamps {
      color: var(--gray-500);
      font-size: 13px;
      line-height: 16px;
      margin-left: 1rem;
      width: 86px;
    }

    .speed {
      background: none;
      border: none;
      margin-left: 1rem;
    }
  }

  &.active {
    .control-group:last-of-type {
      background: white;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    }
  }
}