#player {
  align-items: center;
  cursor: default;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  margin: 3rem 1.5rem;
  max-height: calc(100% - 16rem);
  pointer-events: none;
  width: 100%;

  iframe {
    background: var(--white);
    border: 2px solid var(--gray-150);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    transform-origin: center center;
  }

  .player-container {
    border-radius: var(--border-radius-lg);
    position: relative;
    overflow: hidden;
  }

  #cursor-trail {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
