.controls {
  align-items: center;
  display: flex;
  grid-area: footer;
  justify-content: space-between;
  position: relative;

  .slider {
    width: 100%;
  }

  .timestamps {
    color: var(--gray-500);
    flex-shrink: 0;
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    margin: 0 0 0 2rem;
    white-space: nowrap;
    width: 128px;
  }

  .speed {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--border-radius-o);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin-left: .5rem;
    padding: 0;
    width: 2.5rem;

    &:hover {
      background: var(--white);
    }

    .icon {
      font-size: var(--font-size-body-xxl);
      
      &:not(.skip) {
        display: none;
      }
    }
  }

  .play-pause {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--border-radius-controls);
    display: flex;
    flex-shrink: 0;
    height: 2rem;
    margin: 0 1rem;
    width: 2rem;

    .icon {
      font-size: var(--font-size-body-xxl);
    }

    &:hover {
      background: var(--white);
    }
  }
  
  .speed-wrapper {
    flex-shrink: 0;
    height: 2rem;
    margin: 0 1rem;
    width: 2rem;

    & > .button {
      border-radius: var(--border-radius-controls);
      height: 2rem;
      margin: 0;
      padding: 0;
      width: 2rem;
    }
  }
}

.dropdown-menu.playback-speed-menu.up {
  padding: 1.5rem;
  transform: translate(-168px, calc(-100% - 1rem));
  width: 200px;

  .label:last-of-type {
    margin-bottom: 0;
  }

  .divider {
    margin: 1.5rem 0;
  }
}
