.player-sidebar {
  background: var(--white);
  grid-area: sidebar;
  position: relative;
  z-index: 2;

  .sidebar {
    display: none;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    &.active {
      display: flex;
    }

    .heading {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      margin: 0;
      padding: 1.5rem;

      .button {
        background: none;
        border: none;
        color: var(--gray-blue-700);
        font-size: var(--font-size-body-xl);
        margin: 0;
        padding: 0;

        &:hover {
          color: var(--gray-blue-800);
        }

        i {
          display: block;
        }
      }
    }

    .contents {
      flex: 1;
      height: 100%;
      margin-bottom: 5.5rem;
      overflow-y: auto;
      padding: 0 1.5rem 1.5rem 1.5rem;

      h5 {
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: space-between;
        margin: 2rem 0 1.5rem 0;
      }
    }

    &.feedback {
      background: var(--white);
      margin: 0;
      padding: 0;

      p {
        color: var(--gray-blue-800);
        font-size: var(--font-size-body);
      }
    }
  }

  .attributes {
    background: var(--gray-50);
    border-radius: var(--border-radius-md);
    padding: 1rem;

    .no-attributes {
      align-items: center;
      display: flex;
      font-size: var(--font-size-body-sm);
      justify-content: center;
      line-height: var(--line-height-body-sm);
      margin-bottom: 0;

      i {
        color: var(--rose-500);
        font-size: var(--font-size-body-lg);
        margin-right: .5rem;
      }

      span {
        font-weight: var(--font-weight-medium);
      }
    }

    .heading {
      font-size: var(--font-size-body-sm);
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-body-sm);
      justify-content: flex-start;
      margin-bottom: 1rem;
      padding: 0;

      i {
        color: var(--blue-500);
        font-size: var(--font-size-body);
        margin-right: .5rem;
      }
    }

    .datalist {
      margin: 0;

      .row {
        border-bottom: none;

        dt {
          font-weight: var(--font-weight-medium);
        }

        dd {
          color: var(--gray-blue-800);
        }
      }
    }
  }

  .toggle-recordings {
    align-items: center;
    display: inline-flex;
    font-size: var(--font-size-body-sm);
    height: 1rem;
    line-height: var(--line-height-body-sm);

    span {
      text-decoration: underline;
    }

    .icon {
      display: inline-block;
      font-size: var(--font-size-body);
      margin: 0 0 0 .125rem;
    }

    &.open {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .recording-starred {
    line-height: 1;
    margin-right: .15rem;
    vertical-align: middle;
    width: 16px;
  }

  .datalist {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    margin: 1rem 0;

    .row {
      display: flex;
      justify-content: space-between;
      padding: 0 0 .75rem 0;

      &.recordings {
        display: flex;
        flex-direction: column;

        .recording-row {
          align-items: center;
          display: flex;
          margin: 0 0 .5rem 0;

          div {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin: 0 0 0 .5rem;

            &:first-of-type {
              flex: 1;
              margin: 0;
            }

            &:last-of-type {
              justify-content: flex-end;
              width: 3rem;
            }
          }

          .icon {
            color: var(--blue-500);
            font-size: var(--font-size-body);
            margin: 0 .25rem 0 0;
          }
        }

        .see-more {
          margin: .5rem 0 0 0;
        }
      }
    }

    dt {
      font-weight: var(--font-weight-medium);
      flex-shrink: 0;
    }

    dd {
      color: var(--gray-500);
      flex: 1;
      overflow: hidden;
      margin: 0;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;

      .tooltip {
        margin-left: .75rem;
        width: calc(100% - .75rem);

        .button {
          color: var(--gray-500);
          font-size: var(--font-size-body-sm);
          line-height: var(--line-height-body-sm);
          overflow: hidden;
          text-align: right;
          text-overflow: ellipsis;
          width: 100%;
          white-space: nowrap;
        }
      }

      &.recording-id,
      &.visitor-id {
        .tooltip {
          margin: 0 .25rem 0 0;
          width: 1.25rem;

          i {
            font-size: var(--font-size-body);
          }
        }

        .visitor-starred {
          margin: 0;
        }
      }

      .device {
        font-size: var(--font-size-body);
        margin-right: .25rem;
      }

      .browser {
        display: inline-block;
        height: 1rem;
        line-height: var(--line-height-body-sm);
        margin-right: .25rem;
        vertical-align: middle;
      }

      .bookmark {
        line-height: var(--line-height-body-sm);

        i {
          color: var(--gray-150);
        }
  
        &.active {
          i {
            color: var(--purple-500);
          }
        }
      }

      .tooltip {
        height: 1rem;

        & > .button {
          height: 1rem;
          line-height: var(--line-height-body-sm);
        }
      }
    }

    .pages {
      background: none;
      border: none;
      color: var(--blue-700);
      font-size: var(--font-size-body-sm);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body-sm);
      padding: 0;
      text-decoration: underline;
    }
  }

  .datarow {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    margin: 0;
    padding: 0;

    li {
      border-top: 1px solid var(--gray-150);
      list-style: none;
      overflow: hidden;
      padding: .75rem 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.hidden {
        display: none;
      }

      &:first-of-type {
        border-top: 0;
      }

      &.icon {
        padding-left: 1.5rem;
        position: relative;

        p {
          font-size: var(--font-size-body-sm);
          line-height: var(--line-height-body-sm);
          margin: 0;
        }

        .event-icon {
          height: 1rem;
          left: 0;
          line-height: 1;
          position: absolute;
          top: .75rem;

          .icon {
            display: block;
          }
        }
        
        .title {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 0;

          .button {
            background: none;
            border: none;
            color: var(--blue-700);
            cursor: pointer;
            font-size: var(--font-size-body-sm);
            font-weight: var(--font-weight-normal);
            line-height: var(--line-height-body-sm);
            margin: 0;
            padding: 0;
            text-decoration: underline;
          }
        }

        .info {
          color: var(--gray-500);
          margin-top: .5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .view-more {
          color: var(--gray-700);
          font-size: var(--font-size-body-sm);
          margin: .25rem 0 0 0;
          padding: 0;
          text-decoration: underline;
        }

        &.error {
          background: var(--peach-100);
          border: 1px solid var(--rose-500);
          border-radius: var(--border-radius-md);
          margin-left: -.75rem;
          padding: .75rem 1.75rem .75rem 2.25rem;
          width: calc(100% + 1.5rem);

          .icon {
            color: var(--rose-500);
            font-size: var(--font-size-body-lg);
          }

          .event-icon {
            left: .75rem;
          }

          .title {
            color: var(--rose-500);
            font-weight: var(--font-weight-medium);
          }

          .info {
            color: var(--gray-blue-700);
          }

          + li {
            border-top: none;
          }
        }

        &.inactivity {
          background: var(--gray-50);
          border: 1px solid var(--gray-200);
          border-radius: var(--border-radius-md);
          margin-left: -.75rem;
          padding: .75rem 1.75rem .75rem 2.25rem;
          width: calc(100% + 1.5rem);

          .event-icon {
            left: .75rem;
          }

          .timestamp {
            color: var(--rose-500);
          }

          + li {
            border-top: none;
          }
        }
      }
    }

    &.compact {
      .info {
        display: none;
      }
    }
  }

  .notes {
    &.empty {
      .create-state {
        display: block;
      }

      .note-state {
        display: none;
      }  
    }

    .create-state {
      display: none;
    }
    
    .note {
      .title {
        margin: 0 0 1rem 0 !important;
      }
    }
  }

  .tags {
    .tag-state {
      .input {
        margin-bottom: 1.5rem;

        + p {
          font-size: var(--font-size-body-sm);
          line-height: var(--line-height-body-sm);
          margin: 0 0 1.5rem 0;
        }
      }
    }

    form {
      position: relative;
    }

    .tag-results {
      background: var(--white);
      border-radius: var(--border-radius-md);
      box-shadow: var(--box-shadow-lg);
      display: none;
      left: 0;
      overflow: hidden;
      padding: .75rem;
      position: absolute;
      top: 2.5rem;
      width: 100%;

      &.show {
        display: block;
      }

      p {
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        margin: 0 0 .75rem 0;
      }

      ul {
        height: 100%;
        margin: 0;
        max-height: 218px;
        overflow-y: auto;
        padding: 0;
        width: 100%;

        li {
          display: flex;
          list-style: none;
          width: 100%;

          .tag {
            cursor: pointer;
          }

          &:last-of-type {
            .tag {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .pages {
    li {
      border: none;
      padding: .75rem 0 0 0;

      .title {
        cursor: pointer;
        display: flex;
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        margin: 0 !important;
        padding: 0;
  
        .path {
          flex: 1;
          max-width: 16rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
  
        .count {
          color: var(--blue-700);
          text-decoration: underline;
        }

        .icon {
          color: var(--blue-500);
          font-size: var(--font-size-body-lg);
          margin-left: .25rem;
        }
      }
      
      &.open {
        margin-bottom: .25rem;

        .title {
          .icon {
            transform: rotate(180deg);
          }
        }
  
        .timestamps {
          display: block;
        }

        + li {
          border-top-color: transparent;
        }
      }

      &:hover {
        + li {
          border-top-color: transparent;
        }
      }
    }

    .timestamps {
      display: none;
      padding: .75rem 0 0 0;

      .event {
        align-items: center;
        display: flex;
        margin-bottom: .5rem;

        .button {
          background: none;
          border: none;
          color: var(--blue-700);
          font-size: var(--font-size-body-sm);
          font-weight: var(--font-weight-normal);
          line-height: var(--line-height-body-sm);
          padding: 0;
          text-align: left;
          text-decoration: underline;
          width: 50px;
        }

        i {
          color: var(--gray-500);
          font-size: var(--font-size-body);
          margin: 0 .5rem;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .events-visibility {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;

    .icon {
      color: var(--blue-500);
      font-size: var(--font-size-body-xl);
      margin-right: .5rem;
      text-align: left;
    }
  }

  .feedback {
    background: var(--gray-50);
    border-radius: var(--border-radius-md);
    margin-bottom: 1rem;
    padding: 1rem;

    p {
      color: var(--gray-500);
      font-size: var(--font-size-body-sm);
      line-height: var(--line-height-body-sm);
      margin: 0 0 .75rem 0;

      &.heading {
        align-items: center;
        color: var(--gray-blue-800);
        justify-content: flex-start;
        margin: 0 0 .75rem 0;
        padding: 0;
      }

      &.email {
        color: var(--gray-blue-800);
      }

      &:last-of-type {
        margin: 0;
      }

      span {
        font-weight: var(--font-weight-medium);
        margin-left: .5rem;
      }

      .blue {
        color: var(--blue-500);
      }
  
      .purple {
        color: var(--purple-500);
      }
  
      .rose {
        color: var(--rose-500);
      }

      .emoji {
        margin-left: .5rem;
      }
    }
  }

  .player-tabs {
    align-items: center;
    border-top: 1px solid var(--gray-150);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    margin: 0 1.5rem;
    position: absolute;
    width: calc(100% - 3rem);

    .button {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      height: 2rem;
      justify-content: center;
      margin: 0;
      padding: 0;
      position: relative;
      width: 2rem;

      .icon {
        color: var(--gray-500);
        font-size: 1.5rem;
      }

      &.active {
        &:before {
          background: var(--blue-500);
          content: ' ';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          top: -29px;
          width: 100%;
        }

        .icon {
          color: var(--blue-500);
        }
      }

      &:hover {
        .icon {
          color: var(--blue-500);
        }
      }
    }
  }

  .sidebar-copy {
    position: relative;

    .copy {
      align-items: center;
      background: var(--white);
      border-color: var(--gray-150);
      border-style: solid;
      border-width: 0 0 0 1px;
      display: none;
      height: 100%;
      margin: 0;
      padding: 0 .5rem;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;

      .icon {
        color: var(--blue-500);
        vertical-align: top;
      }
    }

    &:hover {
      .copy {
        display: flex;
      }
    }
  }
}

.events-visibility-modal { 
  .label i {
    color: var(--gray-500);
  }
}

.sidebar-errors-modal {
  .key {
    font-weight: var(--font-weight-medium);
    margin: 0 0 .25rem 0;
  }

  .value {
    margin: 0 0 1rem 0;
  }

  .code.block {
    background: var(--gray-50);
    border: 1px solid var(--gray-200);
    box-shadow: none;
    margin: .25rem 0 0 0;
    overflow: auto;
    padding: .35rem .75rem;
  }
}
