.slider {
  background: var(--gray-150);
  border-radius: var(--border-radius-sm);
  height: .25rem;
  position: relative;

  .bar {
    border-radius: var(--border-radius-sm);
    height: .25rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 1;

    @supports (-moz-appearance: none) {
      z-index: 0;
    }
  }

  .buffered {
    background: repeating-linear-gradient(
      135deg,
      var(--gray-500),
      var(--gray-500) 3px,
      var(--gray-300) 3px,
      var(--gray-300) 6px
    );
  }

  .progress {
    background: var(--blue-500);
  }

  .events {
    height: 1rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -6px;
    width: 100%;
    z-index: 1;

    .event {
      background: var(--blue-500);
      border: 2px solid var(--gray-100);
      border-radius: var(--border-radius-o);
      height: 1rem;
      position: absolute;
      top: 0;
      width: 1rem;

      .event-icon {
        background: var(--gray-100);
        left: -2px;
        position: absolute;
        top: -2rem;
      }

      &.error {
        background: var(--rose-500);

        .icon {
          color: var(--rose-500);
        }
      }

      &.hidden {
        display: none;
      }
    }
  }

  .activity {
    background: var(--blue-500);
    border-radius: var(--border-radius-sm);
    height: .25rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;

    .block {
      background: var(--rose-500);
      border-radius: var(--border-radius-sm);
      height: .25rem;
      position: absolute;
      top: 0;
    }

    &.hidden {
      display: none;
    }
  }

  .input[type=range] {
    appearance: none;
    border: none;
    border-radius: var(--border-radius-sm);
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    height: .25rem;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--blue-500);
    border: 2px solid var(--gray-100);
    border-radius: var(--border-radius-o);
    cursor: pointer;
    height: 2rem;
    position: relative;
    width: 2rem;
    z-index: 2;
  }

  .input[type=range]::-moz-range-progress {
    background: transparent;
    border-radius: var(--border-radius-sm);
    height: .25rem;
  }

  .input[type=range]::-moz-range-track {
    background: transparent;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    height: .25rem;
  }

  .input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  .input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--blue-500);
    border: 2px solid var(--gray-100);
    border-radius: var(--border-radius-o);
    cursor: pointer;
    height: 2rem;
    margin-top: -1rem;
    position: relative;
    width: 2rem;
    z-index: 2;
  }

  .input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 2px solid var(--gray-150);
    cursor: pointer;
    height: .25rem;
  }

  .input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: 2px solid var(--gray-150);
  }
}
