.site-tabs {
  padding: 2rem 0;

  .all-sites {
    color: var(--gray-500);
    font-size: 14px;
    line-height: 20px;
  }

  .avatar {
    background: var(--gray-150);
    border-radius: 50%;
    height: 2rem;
    margin-right: .75rem;
    width: 2rem;
  }

  h3 {
    align-items: center;
    display: flex;
  }
}
