.site-tabs {
  margin: 0 3rem;
  padding: 3rem 0;

  .avatar {
    background: var(--gray-150);
    border-radius: 50%;
    height: 2rem;
    margin-right: .75rem;
    width: 2rem;
  }

  h4 {
    align-items: center;
    display: flex;
    margin: 0;
  }

  & + .tab-header {
    margin: 0 3rem;
  }
}
