.page.__admin.site {
  .title {
    justify-content: space-between;
  }

  .not-found {
    background: var(--peach-50);

    .primary {
      color: var(--white);
    }
  }

  .stripe-link {
    align-items: center;
    color: var(--gray-blue-800);
    display: flex;

    .icon {
      color: var(--mauve-700);
      font-size: var(--font-size-body-lg);
      margin: 0 .5rem 0 0;
    }
  }

  .site-card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;

    @include breakpoint-md {
      grid-template-columns: 1fr;
    }

    h5 {
      align-items: center;
      display: flex;
      margin: 0 0 2rem 0;

      .icon {
        color: var(--mauve-700);
        font-size: var(--font-size-body-xxl);
        font-weight: var(--font-weight-normal);
        margin: 0 .5rem 0 0;
      }

      &:nth-of-type(2) {
        margin: 2rem 0 2rem 0;
      }
    }

    .details {
      .divider {
        margin: 3rem 0;
      }
    }

    .row {
      align-items: center;
      display: flex;
      font-size: var(--font-size-body);
      justify-content: space-between;
      line-height: var(--line-height-body);
      margin: 0 0 .75rem 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 66%;
        white-space: nowrap;
        
        &:first-of-type {
          font-weight: var(--font-weight-medium);
          width: 34%;

          i {
            color: var(--gray-500);
          }
        }

        &:last-of-type {
          text-align: right;
        }
      }

      @include breakpoint-md {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        span {
          width: 100%;

          &:last-of-type {
            text-align: left;
          }
        }
      }
    }

    .recordings-counts {
      h5 {
        margin: 0;
      }

      .table {
        margin: 1rem 0 0 0;

        .row {
          display: grid;
          grid-template-columns: 6rem 1fr 1fr;
          margin: 0;

          .cell {
            &:first-of-type {
              font-weight: var(--font-weight-medium);
              overflow: visible;
              position: relative;
              text-align: right;

              &:after {
                background: var(--gray-100);
                content: ' ';
                display: block;
                height: 3rem;
                position: absolute;
                right: 0;
                top: -1.5rem;
                width: 1px;
              }
            }
          }

          &:last-of-type {
            .cell:first-of-type::after {
              height: 3.5rem;
            }
          }
        }
      }
    }

    .site-team {
      .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 100px;
        margin: 0;

        a {
          font-size: var(--font-size-body);
        }

        .select {
          margin: 0;
        }
      }
    }

    .subscription {
      .card {
        background: none;
        box-shadow: none;

        &:not(:first-of-type) {
          margin: 0;
        }
      }

      .title {
        margin: 0 0 2rem 0;

        h5 {
          margin: 0;
        }
      }

      .no-invoices {
        margin: 0;
      }

      .coupon {
        color: var(--gray-500);
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
      }

      .enterprise-upgrade {
        color: var(--mauve-700);
        margin: 0 0 0 1rem;
        text-decoration: underline;
      }

      .row {
        &.has-address {
          align-items: flex-start;

          span span:first-of-type {
            font-weight: var(--font-weight-normal);
          }
        }
      }
    }
  }

  .plan-settings {
    .checkbox-group {
      display: flex;
      margin: 0 0 1.5rem 0;

      .checkbox {
        margin: 0 1.5rem .5rem 0;
      }
    }

    .sublabel {
      justify-content: flex-start;

      i {
        color: var(--gray-500);
        font-weight: var(--font-weight-normal);
        margin: 0 0 0 .25rem;
      }
    }

    .radio-group {
      display: flex;
      margin: 0 0 1.5rem 0;

      .radio {
        margin: 0 1.5rem 0 0;

        &:hover .check {
          border-color: var(--mauve-700);
        }

        input:checked + .check {
          border-color: var(--mauve-700);
        }
      }
    }

    .button.primary {
      background: var(--mauve-700);
      border-color: var(--mauve-700);
    }

    .input-group {
      align-items: center;
      display: flex;
      margin: 0 0 1.5rem 0;

      & > span {
        margin: 0 1rem;
      }

      .input,
      .checkbox {
        margin: 0;
        width: 10rem;
      }
    }
  }
}

.enterprise-upgrade-modal {
  .primary {
    background: var(--mauve-700);
    border-color: var(--mauve-700);
  }

  a {
    color: var(--mauve-700);
  }

  ol {
    margin: 0;
    padding: 0 0 0 1.5rem;

    li {
      margin: 0 0 1.5rem 0;

      .input {
        margin: .5rem 0 0 0;
        max-width: 320px;
      }
    }
  }
}

.change-role-modal {
  .warning-text {
    color: var(--rose-500);
  }
}
