.page.__admin.sites {
  .table-wrapper {
    margin-bottom: 2rem;
  }

  .sites-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include breakpoint-sm {
      flex-direction: column;

      .rc-pagination {
        margin: .5rem 0 0 0;
      }

      .page-size {
        display: none;
      }
    }
  }

  .bundled {
    color: var(--rose-500);
    font-size: var(--font-size-body);

    .icon {
      margin: 0 0 0 .25rem;
      vertical-align: middle;
    }
  }

  .site-bundles {
    margin: 2rem 0 0 0;

    .site-bundle {
      background: var(--gray-100);
      border-radius: var(--border-radius-md);
      margin: 0 0 .75rem 0;
      padding: 1rem;
      position: relative;
  
      .heading {
        align-items: center;
        background: none;
        border: none;
        display: flex;
        width: 100%;

        .button {
          align-items: center;
          background: none;
          border: none;
          display: flex;
          padding: 0;
          text-align: left;
        }
  
        .icon {
          font-size: var(--font-size-body-xl);
          margin: 0 .75rem 0 0;
        }
  
        span {
          font-weight: var(--font-weight-normal);
          margin: 0 0 0 .5rem;
        }
      }

      .actions {
        align-items: center;
        display: none;
        position: absolute;
        top: .75rem;
        right: 1rem;
  
        .button {
          align-items: center;
          background: var(--gray-50);
          border: none;
          border-radius: var(--border-radius-md);
          color: var(--gray-blue-800);
          display: flex;
          font-weight: var(--font-weight-medium);
          height: 2.5rem;
          margin: 0 0 0 .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--gray-150);
          }
  
          .icon {
            font-size: var(--font-size-body-lg);
            font-weight: var(--font-weight-normal);
            margin: 0 .5rem 0 0;
          }
        }
  
        .add-to-bundle {
          .icon {
            color: var(--mauve-700);
          }
        }
      }

      .items {
        display: none;
        
        .sites-table {
          margin: 1.5rem 0 0 0;
        }

        .table-wrapper {
          margin: 0;
        }
      }
  
      &.open {
        .items {
          display: block;
        }
  
        .actions {
          display: flex;
        }
      }

      .site-bundles-stats {
        display: flex;

        .left {
          flex: 1;
        }

        .recording-counts {
          width: 24rem;

          .row {
            display: grid;
            grid-template-columns: 6rem 1fr 1fr;
            margin: 0;
  
            .cell {
              &:first-of-type {
                font-weight: var(--font-weight-medium);
                overflow: visible;
                position: relative;
                text-align: right;
  
                &:after {
                  background: var(--gray-100);
                  content: ' ';
                  display: block;
                  height: 3rem;
                  position: absolute;
                  right: 0;
                  top: -1.5rem;
                  width: 1px;
                }
              }
            }
  
            &:last-of-type {
              .cell:first-of-type::after {
                height: 3.5rem;
              }
            }
          }
        }
      }
    }
    
  }

  &.bundles {
    .table {
      .sort {
        display: none;
      }
    }
  }
}

.add-site-to-bundle-modal {
  .search-input {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .site-selector {
    margin: 0;
    max-height: 12.5rem;
    overflow-y: auto;
    padding: 0;

    li {
      display: flex;
      list-style: none;
      margin: 0 0 .5rem 0;

      &.bundled {
        opacity: .5;

        .label {
          cursor: default;
        }
      }
    }

    .label {
      cursor: pointer;
      font-weight: var(--font-weight-normal);
    }
  }
}
